#block-useraccountmenu
  #block-useraccountmenu-menu
    &:hover
      cursor: pointer
  .menu
    li
      margin: 0
      text-align: center
      a
        +padding(10,10,10,10)
        text-decoration: none
        &:hover
          background-color: $red-hover