#block-useraccountmenu
  #block-useraccountmenu-menu
    margin: 0
    width: vmin-calc(32)
    height: vmin-calc(32)
    &:hover
      cursor: pointer
  .menu
    top: 32px
    li
      display: block
      margin: 0
      text-align: center
      a
        +padding(10, 10, 10, 10)
        display: block
        text-decoration: none
        &:hover
          background-color: $red-hover