/*
Syntax error: Indenting at the beginning of the document is illegal.
        on line 1 of /Users/Nesta/da_vinci/sass/blog/_blog-detail.sass
        from line 1 of /Users/Nesta/da_vinci/sass/blog/*
        from line 1 of /Users/Nesta/da_vinci/sass/blog/_blog.sass
        from line 15 of /Users/Nesta/da_vinci/sass/main.sass

1:     a.colorbox-load
2:       position: relative
3:       display: inline-block
4:       &:hover
5:         &:before
6:           position: absolute

Backtrace:
/Users/Nesta/da_vinci/sass/blog/_blog-detail.sass:1
/Users/Nesta/da_vinci/sass/blog/*:1
/Users/Nesta/da_vinci/sass/blog/_blog.sass:1
/Users/Nesta/da_vinci/sass/main.sass:15
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/engine.rb:466:in `block in tabulate'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/engine.rb:449:in `each'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/engine.rb:449:in `each_with_index'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/engine.rb:449:in `tabulate'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/engine.rb:412:in `_to_tree'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/engine.rb:305:in `to_tree'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:295:in `block in visit_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:88:in `block in with_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:88:in `with_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `block (2 levels) in visit_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `map'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `block in visit_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:88:in `block in with_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:88:in `with_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `block (2 levels) in visit_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `map'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `block in visit_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:88:in `block in with_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:88:in `with_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/engine.rb:371:in `_render_with_sourcemap'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/engine.rb:291:in `render_with_sourcemap'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `each'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/lib/compass/commands/update_project.rb:49:in `perform'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-compass-1.1.0/lib/guard/compass.rb:140:in `perform'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-compass-1.1.0/lib/guard/compass.rb:123:in `run_on_change'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:74:in `block in run_supervised_task'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:71:in `catch'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:71:in `run_supervised_task'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:119:in `block in _run_first_task_found'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:117:in `each'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:117:in `_run_first_task_found'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:53:in `block in run_on_changes'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:150:in `block (3 levels) in _scoped_plugins'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:148:in `each'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:148:in `block (2 levels) in _scoped_plugins'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:147:in `catch'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:147:in `block in _scoped_plugins'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:145:in `each'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:145:in `_scoped_plugins'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/runner.rb:46:in `run_on_changes'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/setuper.rb:296:in `block (2 levels) in _listener_callback'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/commander.rb:108:in `block in within_preserved_state'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/commander.rb:105:in `synchronize'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/commander.rb:105:in `within_preserved_state'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/guard-2.6.1/lib/guard/setuper.rb:295:in `block in _listener_callback'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/listen-2.7.11/lib/listen/listener.rb:282:in `call'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/listen-2.7.11/lib/listen/listener.rb:282:in `_process_changes'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/listen-2.7.11/lib/listen/listener.rb:239:in `block in _wait_for_changes'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/listen-2.7.11/lib/listen/listener.rb:222:in `loop'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/listen-2.7.11/lib/listen/listener.rb:222:in `_wait_for_changes'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/listen-2.7.11/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Indenting at the beginning of the document is illegal.\A         on line 1 of /Users/Nesta/da_vinci/sass/blog/_blog-detail.sass\A         from line 1 of /Users/Nesta/da_vinci/sass/blog/*\A         from line 1 of /Users/Nesta/da_vinci/sass/blog/_blog.sass\A         from line 15 of /Users/Nesta/da_vinci/sass/main.sass\A \A 1:     a.colorbox-load\A 2:       position: relative\A 3:       display: inline-block\A 4:       &:hover\A 5:         &:before\A 6:           position: absolute"; }
