*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
* 1. Set default font family to sans-serif.
* 2. Prevent iOS and IE text size adjust after device orientation
*    change, without disabling
*    user zoom.
*/
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
* Remove default margin.
*/
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
* Correct `block` display not defined for any HTML5 element in IE 8/9.
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox.
* Correct `block` display not defined for `main` in IE 11.
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
* 1. Correct `inline-block` display not defined in IE 8/9.
* 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
*/
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   */
[hidden] {
  display: none;
}

/**
* Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
*/
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
* Improve readability of focused elements when they are also in an
* active/hover state.
*/
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
* Address styling not present in IE 8/9/10/11, Safari, and Chrome.
*/
abbr[title] {
  border-bottom: 1px dotted;
}

/**
* Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
*/
b,
strong {
  font-weight: bold;
}

/**
* Address styling not present in Safari and Chrome.
*/
dfn {
  font-style: italic;
}

/**
* Address variable `h1` font-size and margin within `section` and `article`
* contexts in Firefox 4+, Safari, and Chrome.
*/
h1 {
  font-size: 2em;
  margin: 0.66667em 0;
}

/**
   * Address styling not present in IE 8/9.
   */
mark {
  background: #ff0;
  color: #000;
}

/**
* Address inconsistent and variable font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
  border: 0;
}

/**
   * Correct overflow not hidden in IE 9/10/11.
   */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
  margin: 1em 40px;
}

/**
* Address differences between Firefox and other browsers.
*/
hr {
  box-sizing: content-box;
  height: 0;
}

/**
* Contain overflow in all browsers.
*/
pre {
  overflow: auto;
}

/**
* Address odd `em`-unit font size rendering in all browsers.
*/
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
* Known limitation: by default, Chrome and Safari on OS X allow very limited
* styling of `select`, unless a `border` property is set.
*/
/**
* 1. Correct color not being inherited.
*    Known issue: affects color of disabled elements.
* 2. Correct font properties not being inherited.
* 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
*/
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
button {
  overflow: visible;
}

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
* Correct `select` style inheritance in Firefox.
*/
button,
select {
  text-transform: none;
}

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
*/
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
* Re-set default cursor for disabled elements.
*/
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
* Remove inner padding and border in Firefox 4+.
*/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/
input {
  line-height: normal;
}

/**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
* Fix the cursor style for Chrome's increment/decrement buttons. For certain
* `font-size` values of the `input`, it causes the cursor style of the
* decrement button to change from `default` to `text`.
*/
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Address `appearance` set to `searchfield` in Safari and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
*/
input[type='search'] {
  box-sizing: content-box;
}

/**
* Remove inner padding and search cancel button in Safari and Chrome on OS X.
* Safari (but not Chrome) clips the cancel button when the search input has
* padding (and `textfield` appearance).
*/
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* Define consistent border, margin, and padding.
*/
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
* 1. Correct `color` not being inherited in IE 8/9/10/11.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
*/
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
textarea {
  overflow: auto;
}

/**
* Don't inherit the `font-weight` (applied by a rule above).
* NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
*/
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
* Remove most spacing between table cells.
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  font-size: 1rem;
}

body {
  color: #9da7b0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

body main {
  padding-top: 0;
  padding-right: 2.5vmin;
  padding-bottom: 0;
  padding-left: 2.5vmin;
}

@media (min-width: 48.5rem) {
  body main {
    padding-top: 0;
    padding-right: 1.38888vw;
    padding-bottom: 0;
    padding-left: 1.38888vw;
  }
}

body .layout-container {
  background: #faf8f4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0a2239;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  margin: 1rem 0 .5rem;
}

h1 {
  font-size: 8vmin;
  line-height: 1;
}

@media (min-width: 48.5rem) {
  h1 {
    font-size: 4.4444vw;
  }
}

h2 {
  font-size: 6vmin;
}

@media (min-width: 48.5rem) {
  h2 {
    font-size: 3.3333vw;
  }
}

h3 {
  font-size: 4.5vmin;
}

@media (min-width: 48.5rem) {
  h3 {
    font-size: 2.49998vw;
  }
}

h4,
h5 {
  font-size: 3vmin;
}

@media (min-width: 48.5rem) {
  h4,
  h5 {
    font-size: 1.66665vw;
  }
}

h4,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

p {
  margin: 0 0 1.2rem;
}

a {
  color: #ef3340;
  text-decoration: none;
  transition: color .2s;
}

a:hover {
  color: #f57a82;
  text-decoration: none;
}

a.icon-help {
  font-size: 1.625vmin;
}

@media (min-width: 48.5rem) {
  a.icon-help {
    font-size: 0.90277vw;
  }
}

strong {
  font-weight: 700;
}

mark,
.marker {
  font-size: 1.25vmin;
  padding-top: 0.75vmin;
  padding-right: 0.75vmin;
  padding-bottom: 0.75vmin;
  padding-left: 0.75vmin;
  background-color: #9da7b0;
  color: white;
  float: right;
}

@media (min-width: 48.5rem) {
  mark,
  .marker {
    font-size: 0.69444vw;
  }
}

@media (min-width: 48.5rem) {
  mark,
  .marker {
    padding-top: 0.41666vw;
    padding-right: 0.41666vw;
    padding-bottom: 0.41666vw;
    padding-left: 0.41666vw;
  }
}

summary {
  outline: none;
}

blockquote {
  font-family: "Roboto Condensed", sans-serif;
  color: #9da7b0;
  margin: 3vmin 0 3vmin 1vmin;
  padding-left: 2vmin;
  font-size: 3vmin;
  border: 0.375vmin solid #ef3340;
}

@media (min-width: 48.5rem) {
  blockquote {
    padding-left: 1.1111vw;
  }
}

@media (min-width: 48.5rem) {
  blockquote {
    font-size: 1.66665vw;
  }
}

@media (min-width: 48.5rem) {
  blockquote {
    border: 0.20833vw solid #ef3340;
  }
}

@media (min-width: 48.5rem) {
  blockquote {
    margin: 1.66665vw 0 1.66665vw 3.3333vw;
  }
}

blockquote > p:first-child {
  display: inline;
}

code, kbd, pre, samp {
  font-size: 1.625vmin;
}

@media (min-width: 48.5rem) {
  code, kbd, pre, samp {
    font-size: 0.90277vw;
  }
}

head:before {
  position: absolute;
  right: -0.625rem;
  top: 7.5rem;
  color: #ced3d7;
  background-color: #6c7a88;
  cursor: pointer;
}

.no-grid head:before {
  display: none;
}

.grid {
  display: block;
}

.border-region .region, .border-region main {
  outline: 0.125rem #0a2239 solid;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation-name: pulse;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typing {
  animation-name: typing;
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: #f1f3f1;
  }
}

.blink-caret {
  animation-name: blink-caret;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInUpBig {
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUpBig {
  animation-name: fadeInUpBig;
}

@keyframes fadeInDownBig {
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDownBig {
  animation-name: fadeInDownBig;
}

@keyframes fadeInLeftBig {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeftBig {
  animation-name: fadeInLeftBig;
}

@keyframes fadeInRightBig {
  0% {
    opacity: 0;
    transform: translateX(2000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRightBig {
  animation-name: fadeInRightBig;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.fadeOutDown {
  animation-name: fadeOutDown;
}

.fadeOutUp {
  animation-name: fadeOutUp;
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes fadeOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

.fadeOutLeft {
  animation-name: fadeOutLeft;
}

@keyframes fadeOutRight {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(20px);
  }
}

.fadeOutRight {
  animation-name: fadeOutRight;
}

@keyframes fadeOutUpBig {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-2000px);
  }
}

.fadeOutUpBig {
  animation-name: fadeOutUpBig;
}

@keyframes fadeOutDownBig {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(2000px);
  }
}

.fadeOutDownBig {
  animation-name: fadeOutDownBig;
}

@keyframes fadeOutLeftBig {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-2000px);
  }
}

.fadeOutLeftBig {
  animation-name: fadeOutLeftBig;
}

@keyframes fadeOutRightBig {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(2000px);
  }
}

.fadeOutRightBig {
  animation-name: fadeOutRightBig;
}

@keyframes moveOnLeftOdd {
  0% {
    transform: translate(0px);
    transform-animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate(-42.70791vw);
    transform-animation-timing-function: ease-in-out;
  }
}

@keyframes moveOnRightOdd {
  0% {
    transform: translate(0px);
    transform-animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate(38.8885vw);
    transform-animation-timing-function: ease-in-out;
  }
}

@keyframes moveOnLeftEven {
  0% {
    transform: translate(0px);
    transform-animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate(-38.8885vw);
    transform-animation-timing-function: ease-in-out;
  }
}

@keyframes moveOnRightEven {
  0% {
    transform: translate(0px);
    transform-animation-timing-function: ease-in-out;
  }
  100% {
    transform: translate(42.70791vw);
    transform-animation-timing-function: ease-in-out;
  }
}

@keyframes flip {
  0% {
    transform: perspective(400px) rotateY(0);
    animation-timing-function: ease-out;
  }
  40% {
    transform: perspective(400px) translateZ(150px) rotateY(170deg);
    animation-timing-function: ease-out;
  }
  50% {
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(400px) rotateY(360deg) scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: perspective(400px) scale(1);
    animation-timing-function: ease-in;
  }
}

.flip {
  backface-visibility: visible !important;
  animation-name: flip;
}

@keyframes flipInX {
  0% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    transform: perspective(400px) rotateX(10deg);
  }
  100% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
}

.flipInX {
  backface-visibility: visible !important;
  animation-name: flipInX;
}

@keyframes flipOutX {
  0% {
    transform: perspective(400px) rotateX(0deg);
    opacity: 1;
  }
  100% {
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
}

.flipOutX {
  animation-name: flipOutX;
  backface-visibility: visible !important;
}

@keyframes flipInY {
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateY(-10deg);
  }
  70% {
    transform: perspective(400px) rotateY(10deg);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
}

.flipInY {
  backface-visibility: visible !important;
  animation-name: flipInY;
}

@keyframes flipOutY {
  0% {
    transform: perspective(400px) rotateY(0deg);
    opacity: 1;
  }
  100% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
}

.flipOutY {
  backface-visibility: visible !important;
  animation-name: flipOutY;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation-name: bounce;
}

@keyframes border-dance {
  0% {
    background-position: 0px 0px, 300px 116px, 0px 150px, 216px 0px;
  }
  100% {
    background-position: 300px 0px, 0px 116px, 0px 0px, 216px 150px;
  }
}

.border-dance {
  animation-name: border-dance;
}

.simple-list, ul.links, .item-list ul {
  margin: 0;
  padding: 0;
}

.simple-list li, ul.links li, .item-list ul li {
  list-style-image: none;
  list-style-type: none;
}

.restricted-container, .layout-container > .region, .layout-container > header > *:not(.top-bar),
.layout-container > header .top-bar > *, footer.site-footer .footer-wrapper, .path-user .layout-content {
  max-width: 84.5vw;
  margin-left: auto;
  margin-right: auto;
}

.restricted-container:after, .layout-container > .region:after, .layout-container > header > :not(.top-bar):after,
.layout-container > header .top-bar > :after, footer.site-footer .footer-wrapper:after, .path-user .layout-content:after {
  clear: both;
  content: "";
  display: table;
}

.restricted-container:after, .layout-container > .region:after, .layout-container > header > :not(.top-bar):after,
.layout-container > header .top-bar > :after, footer.site-footer .footer-wrapper:after, .path-user .layout-content:after {
  content: " ";
  display: block;
  clear: both;
}

head {
  display: block;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 999;
  color: #333;
  background: rgba(255, 255, 255, 0.25);
}

head:before {
  content: "|||";
  display: block;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}

head:hover {
  background: rgba(255, 255, 255, 0.5);
  color: red;
}

head:hover ~ .restricted-container, .layout-container > head:hover ~ .region, .layout-container > header > head:hover ~ *:not(.top-bar),
.layout-container > header .top-bar > head:hover ~ *, footer.site-footer head:hover ~ .footer-wrapper, .path-user head:hover ~ .layout-content,
head:hover ~ body .restricted-container,
head:hover ~ body .layout-container > .region,
head:hover ~ body .layout-container > header > *:not(.top-bar),
head:hover ~ body
.layout-container > header .top-bar > *,
.layout-container > header
head:hover ~ body .top-bar > *,
head:hover ~ body footer.site-footer .footer-wrapper, footer.site-footer
head:hover ~ body .footer-wrapper,
head:hover ~ body .path-user .layout-content, .path-user
head:hover ~ body .layout-content {
  position: relative;
}

head:hover ~ .restricted-container:before, .layout-container > head:hover ~ .region:before, .layout-container > header > head:hover ~ :not(.top-bar):before,
.layout-container > header .top-bar > head:hover ~ :before, footer.site-footer head:hover ~ .footer-wrapper:before, .path-user head:hover ~ .layout-content:before,
head:hover ~ body .restricted-container:before,
head:hover ~ body .layout-container > .region:before,
head:hover ~ body .layout-container > header > :not(.top-bar):before,
head:hover ~ body
.layout-container > header .top-bar > :before,
.layout-container > header
head:hover ~ body .top-bar > :before,
head:hover ~ body footer.site-footer .footer-wrapper:before, footer.site-footer
head:hover ~ body .footer-wrapper:before,
head:hover ~ body .path-user .layout-content:before, .path-user
head:hover ~ body .layout-content:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: linear-gradient(to right, rgba(102, 102, 255, 0.25), rgba(179, 179, 255, 0.25) 80%, transparent 80%), linear-gradient(to bottom, #000 1px, transparent 1px);
  background-size: 8.47458%, 100% 24px;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
}

.hide-element {
  visibility: hidden;
}

.hide-accesible, .layout-container .menu--account h2 {
  line-height: 0;
  font-size: 0;
  color: transparent;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(0.063rem, 0.063rem, 0.063rem, 0.063rem);
  overflow: hidden;
  height: 0.063rem;
  width: 0.063rem;
  word-wrap: normal;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.late {
  transition: 2s;
}

.hide-rwd-mobile {
  display: none;
}

@media (min-width: 48.5rem) {
  .hide-rwd-mobile {
    display: block;
  }
}

.hide-rwd-medium {
  display: none;
}

@media (min-width: 48.5rem) and (max-width: 63.99rem) {
  .hide-rwd-medium {
    display: block;
  }
}

.hide-rwd-large {
  display: none;
}

@media (min-width: 64rem) {
  .hide-rwd-large {
    display: block;
  }
}

.breadcrumb a {
  font-size: 1.25vmin;
  color: #0a2239;
  text-transform: uppercase;
}

@media (min-width: 48.5rem) {
  .breadcrumb a {
    font-size: 0.69444vw;
  }
}

.button, .form-submit {
  outline: none;
  display: inline-block;
  text-align: center;
  background-color: #0a2239;
  color: white;
  text-transform: uppercase;
  transition: all .5s;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  line-height: 5vmin;
  border-radius: 0.375vmin;
  padding-top: 0;
  padding-right: 3vmin;
  padding-bottom: 0;
  padding-left: 3vmin;
  font-size: 1.25vmin;
  border: 0.125vmin solid transparent;
}

@media (min-width: 48.5rem) {
  .button, .form-submit {
    padding-top: 0;
    padding-right: 1.66665vw;
    padding-bottom: 0;
    padding-left: 1.66665vw;
  }
}

@media (min-width: 48.5rem) {
  .button, .form-submit {
    font-size: 0.69444vw;
  }
}

@media (min-width: 48.5rem) {
  .button, .form-submit {
    border: 0.06944vw solid transparent;
  }
}

.button:hover, .form-submit:hover {
  cursor: pointer;
  text-decoration: none;
  border-color: #0a2239;
  background-color: white;
  color: #0a2239;
}

.button:focus, .form-submit:focus {
  outline: none;
}

.image-button {
  background-color: transparent;
  padding-top: 0.375vmin;
  padding-right: 1vmin;
  padding-bottom: 0.375vmin;
  padding-left: 1vmin;
}

@media (min-width: 48.5rem) {
  .image-button {
    padding-top: 0.20833vw;
    padding-right: 0.55555vw;
    padding-bottom: 0.20833vw;
    padding-left: 0.55555vw;
  }
}

.form-submit {
  background-color: #ef3340;
  font-size: 2vmin;
}

@media (min-width: 48.5rem) {
  .form-submit {
    font-size: 1.1111vw;
  }
}

button:focus {
  outline: none;
}

.comment {
  overflow: hidden;
  margin-top: 2vmin;
  padding-top: 2vmin;
}

@media (min-width: 48.5rem) {
  .comment {
    margin-top: 1.1111vw;
  }
}

@media (min-width: 48.5rem) {
  .comment {
    padding-top: 1.1111vw;
  }
}

.comment:last-child {
  border: 0;
}

.comment__meta {
  margin-bottom: 2vmin;
}

@media (min-width: 48.5rem) {
  .comment__meta {
    margin-bottom: 1.1111vw;
  }
}

@media (min-width: 48.5rem) {
  .comment__meta {
    width: 23.72881%;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }
}

.comment .content {
  padding-bottom: 2vmin;
  border-bottom: 0.125vmin solid #ced3d7;
}

@media (min-width: 48.5rem) {
  .comment .content {
    padding-bottom: 1.1111vw;
  }
}

@media (min-width: 48.5rem) {
  .comment .content {
    border-bottom: 0.06944vw solid #ced3d7;
  }
}

@media (min-width: 48.5rem) {
  .comment .content {
    width: 74.57627%;
    float: left;
    margin-left: 25.42373%;
    margin-right: -100%;
  }
}

.comment .content > h3 {
  margin-bottom: 0;
}

@media (min-width: 48.5rem) {
  .comment .content > h3 {
    margin-bottom: 0;
  }
}

ul.links {
  font-size: 1.625vmin;
  line-height: 1.5;
}

@media (min-width: 48.5rem) {
  ul.links {
    font-size: 0.90277vw;
  }
}

.item-list h2, .item-list h3, .item-list h4 {
  margin-bottom: 1vmin;
}

@media (min-width: 48.5rem) {
  .item-list h2, .item-list h3, .item-list h4 {
    margin-bottom: 0.55555vw;
  }
}

.item-list ul li {
  margin-left: 0;
}

@media (min-width: 48.5rem) {
  .item-list ul li {
    margin-left: 0;
  }
}

.tips {
  padding-left: 2.375vmin;
}

@media (min-width: 48.5rem) {
  .tips {
    padding-left: 1.31943vw;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.videolarge {
  position: relative;
  text-align: center;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 2em;
}

.videolarge iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.messages {
  background-color: white;
  border-radius: 0;
  border-width: 0.125vmin 0.125vmin 0.125vmin 0.625vmin;
  margin-top: 2vmin;
  box-shadow: none;
}

@media (min-width: 48.5rem) {
  .messages {
    margin-top: 1.1111vw;
  }
}

@media (min-width: 48.5rem) {
  .messages {
    border-width: 0.06944vw 0.06944vw 0.06944vw 0.34722vw;
  }
}

.messages--status {
  border-color: #3b9376;
  color: #3b9376;
}

.messages--warning {
  border-color: #ef8f73;
  color: #ef8f73;
}

.messages--error {
  border-color: #d64541;
  color: #d64541;
}

.pager ul {
  padding: 0;
}

.pager__item {
  display: block;
  margin-top: 0;
  margin-right: 0.625vmin;
  margin-bottom: 0;
  margin-left: 0.625vmin;
}

@media (min-width: 48.5rem) {
  .pager__item {
    margin-top: 0;
    margin-right: 0.34722vw;
    margin-bottom: 0;
    margin-left: 0.34722vw;
  }
}

.pager__item a {
  color: #0a2239;
}

.pager__item.is-active {
  width: 4vmin;
  height: 4vmin;
  line-height: 1.1;
  border-radius: 1.250rem;
  background-color: #6c7a88;
  font-weight: 400;
  color: white;
}

@media (min-width: 48.5rem) {
  .pager__item.is-active {
    width: 2.2222vw;
  }
}

@media (min-width: 48.5rem) {
  .pager__item.is-active {
    height: 2.2222vw;
  }
}

.pager__item.is-active a {
  color: inherit;
  cursor: default;
}

.pager__item--first, .pager__item--previous, .pager__item--next, .pager__item--last {
  text-transform: lowercase;
  font-size: 1.625vmin;
}

@media (min-width: 48.5rem) {
  .pager__item--first, .pager__item--previous, .pager__item--next, .pager__item--last {
    font-size: 0.90277vw;
  }
}

.progress__track {
  background-image: none;
  background-color: white;
  border-color: #ced3d7;
  border-radius: 0;
}

.progress__bar {
  border-color: #ef3340;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.15)), -webkit-linear-gradient(left top, #ef3340 0%, #ef3340 25%, #f25963 25%, #f25963 50%, #ef3340 50%, #ef3340 75%, #ef3340 100%);
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.15)), linear-gradient(to right bottom, #ef3340 0%, #ef3340 25%, #f25963 25%, #f25963 50%, #ef3340 50%, #ef3340 75%, #ef3340 100%);
  border-radius: 0;
}

.slick-slider .slick-arrow {
  position: absolute;
  width: 8vmin;
  height: 8vmin;
  z-index: 99;
  background: url("../images/slide-arrow.png") 50% 50% no-repeat;
  border: 0;
  text-indent: -624.938rem;
  opacity: 0.5;
  transition: 1s;
}

@media (min-width: 48.5rem) {
  .slick-slider .slick-arrow {
    width: 4.4444vw;
  }
}

@media (min-width: 48.5rem) {
  .slick-slider .slick-arrow {
    height: 4.4444vw;
  }
}

.slick-slider .slick-arrow:hover {
  opacity: 1;
}

.slick-slider .slick-arrow.slick-prev {
  top: 0;
  left: 0;
}

.slick-slider .slick-arrow.slick-next {
  top: 45%;
  right: 0;
}

table {
  border: none;
}

table th {
  background-color: transparent;
  color: #0a2239;
  font-weight: 700;
  text-align: left;
  vertical-align: top;
  padding-top: 1.25vmin;
  padding-right: 1.25vmin;
  padding-bottom: 1.25vmin;
  padding-left: 1.25vmin;
  font-size: 2vmin;
}

@media (min-width: 48.5rem) {
  table th {
    padding-top: 0.69444vw;
    padding-right: 0.69444vw;
    padding-bottom: 0.69444vw;
    padding-left: 0.69444vw;
  }
}

@media (min-width: 48.5rem) {
  table th {
    font-size: 1.1111vw;
  }
}

table td {
  padding-top: 1.25vmin;
  padding-right: 1.25vmin;
  padding-bottom: 1.25vmin;
  padding-left: 1.25vmin;
}

@media (min-width: 48.5rem) {
  table td {
    padding-top: 0.69444vw;
    padding-right: 0.69444vw;
    padding-bottom: 0.69444vw;
    padding-left: 0.69444vw;
  }
}

table th p,
table th ul,
table td p,
table td ul {
  margin: 0;
  padding: 0;
}

.block-local-tasks-block {
  width: 100%;
}

.tabs a {
  color: #6c7a88;
  text-transform: uppercase;
  font-size: 1.25vmin;
}

@media (min-width: 48.5rem) {
  .tabs a {
    font-size: 0.69444vw;
  }
}

.tabs a:focus, .tabs a:hover {
  background-color: transparent;
}

.tabs.primary {
  border-bottom: 0.125vmin solid #6c7a88;
}

@media (min-width: 48.5rem) {
  .tabs.primary {
    border-bottom: 0.06944vw solid #6c7a88;
  }
}

.tabs.primary > li {
  border: 0.125vmin solid #6c7a88;
  border-bottom: 0 solid #6c7a88;
}

@media (min-width: 48.5rem) {
  .tabs.primary > li {
    border: 0.06944vw solid #6c7a88;
  }
}

@media (min-width: 48.5rem) {
  .tabs.primary > li {
    border-bottom: 0 solid #6c7a88;
  }
}

.tabs.primary > li > a {
  padding-top: 0.75vmin;
  padding-right: 3vmin;
  padding-bottom: 0.75vmin;
  padding-left: 3vmin;
  transition: all 1s ease;
}

@media (min-width: 48.5rem) {
  .tabs.primary > li > a {
    padding-top: 0.41666vw;
    padding-right: 1.66665vw;
    padding-bottom: 0.41666vw;
    padding-left: 1.66665vw;
  }
}

.tabs.primary > li > a:hover, .tabs.primary > li > a.is-active {
  background-color: #6c7a88;
  color: white;
}

.tabs.secondary > li {
  margin: 0;
}

.tabs.secondary > li:first-child a {
  padding-left: 0;
  border-left: 0 solid #6c7a88;
}

@media (min-width: 48.5rem) {
  .tabs.secondary > li:first-child a {
    padding-left: 0;
  }
}

@media (min-width: 48.5rem) {
  .tabs.secondary > li:first-child a {
    border-left: 0 solid #6c7a88;
  }
}

.tabs.secondary > li:last-child a {
  padding-right: 0;
}

@media (min-width: 48.5rem) {
  .tabs.secondary > li:last-child a {
    padding-right: 0;
  }
}

.tabs.secondary > li a {
  border-left: 0.125vmin solid #0a2239;
}

@media (min-width: 48.5rem) {
  .tabs.secondary > li a {
    border-left: 0.06944vw solid #0a2239;
  }
}

.tabs.secondary > li a:hover, .tabs.secondary > li a.is-active {
  background-color: transparent;
  color: #0a2239;
}

.vertical-tabs__menu-item {
  background: #ef3340;
}

.vertical-tabs__menu-item a {
  color: white;
}

.vertical-tabs__menu-item.is-selected .vertical-tabs__menu-item-title {
  color: #6c7a88;
}

body {
  transition: max-width 0.35s ease-out, max-height 0.35s ease-out;
}

html,
body {
  min-height: 100vh;
}

body {
  color: #9da7b0;
  background-color: white;
}

body.frozen-body {
  overflow: hidden;
}

.maintenance-page h1 {
  text-align: center;
  margin-bottom: 1vmin;
}

@media (min-width: 48.5rem) {
  .maintenance-page h1 {
    margin-bottom: 0.55555vw;
  }
}

@media (min-width: 0) and (max-width: 48.5rem) {
  .toolbar-fixed.toolbar-horizontal .layout-container > header {
    top: 7.5vmin;
  }
}

.has-secondary-menu .layout-container {
  padding-top: 9.72213vw;
}

@media (min-width: 0) and (max-width: 48.5rem) {
  .has-secondary-menu .layout-container {
    padding-top: 12vmin;
  }
}

.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.layout-container > .region {
  width: 100%;
}

.layout-container > header {
  position: inherit;
  background-color: #081d30;
  transition: all .2s ease-in;
  top: 0;
  width: 100%;
  transform: translateY(0);
}

.layout-container > header .region:not(.region-header):after {
  clear: both;
  content: "";
  display: table;
}

.layout-container.sliding-panel-visible > header {
  background-color: #0a2239;
}

.layout-container > main {
  width: 100%;
}

.layout-container > main .region:after {
  clear: both;
  content: "";
  display: table;
}

@media (min-width: 0) and (max-width: 48.5rem) {
  .layout-container {
    padding-top: 7.5vmin;
  }
}

@media (min-width: 48.5rem) {
  .layout-one-sidebar.layout-sidebar-first .layout-content {
    width: 74.57627%;
    float: left;
    margin-left: 25.42373%;
    margin-right: -100%;
  }
}

@media (min-width: 48.5rem) {
  .layout-one-sidebar.layout-sidebar-first .layout-sidebar-first {
    width: 23.72881%;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }
}

@media (min-width: 48.5rem) {
  .layout-one-sidebar.layout-sidebar-second .layout-content {
    width: 74.57627%;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }
}

@media (min-width: 48.5rem) {
  .layout-one-sidebar.layout-sidebar-second .layout-sidebar-second {
    width: 23.72881%;
    float: left;
    margin-left: 76.27119%;
    margin-right: -100%;
  }
}

@media (min-width: 48.5rem) {
  .layout-two-sidebars .layout-sidebar-first {
    width: 23.72881%;
    float: left;
    margin-left: 0;
    margin-right: -100%;
  }
}

@media (min-width: 48.5rem) {
  .layout-two-sidebars .layout-sidebar-second {
    clear: both;
    float: none;
  }
}

@media (min-width: 64rem) {
  .layout-two-sidebars .layout-sidebar-second {
    width: 23.72881%;
    float: left;
    margin-left: 76.27119%;
    margin-right: -100%;
    clear: none;
  }
}

@media (min-width: 48.5rem) {
  .layout-two-sidebars {
    width: 74.57627%;
    float: left;
    margin-left: 25.42373%;
    margin-right: -100%;
  }
}

@media (min-width: 64rem) {
  .layout-two-sidebars {
    width: 49.15254%;
    float: left;
    margin-left: 25.42373%;
    margin-right: -100%;
  }
}

.ie .layout-container {
  display: block;
}

footer.site-footer {
  background-color: #0a2239;
  margin-top: auto;
}

footer.site-footer .footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2vmin;
  padding-right: 0;
  padding-bottom: 2vmin;
  padding-left: 0;
}

@media (min-width: 48.5rem) {
  footer.site-footer .footer-wrapper {
    padding-top: 1.1111vw;
    padding-right: 0;
    padding-bottom: 1.1111vw;
    padding-left: 0;
  }
}

footer.site-footer .footer-wrapper:after {
  display: none;
}

footer.site-footer .footer-wrapper h2 {
  font-weight: normal;
  color: #f1f3f1;
  opacity: 0.64;
  text-transform: uppercase;
  font-size: 1.75vmin;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-bottom: 4vmin;
}

@media (min-width: 48.5rem) {
  footer.site-footer .footer-wrapper h2 {
    font-size: 0.97221vw;
  }
}

@media (min-width: 48.5rem) {
  footer.site-footer .footer-wrapper h2 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media (min-width: 48.5rem) {
  footer.site-footer .footer-wrapper h2 {
    margin-bottom: 2.2222vw;
  }
}

footer.site-footer .footer-wrapper a {
  color: #f1f3f1;
}

footer.site-footer .footer-wrapper a:hover {
  color: #ef3340;
}

footer.site-footer .region-footer {
  display: none;
}

footer.site-footer .region-footer .block-menu {
  width: 23.72881%;
  float: left;
}

footer.site-footer .region-footer .block-menu:nth-child(4n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

footer.site-footer .region-footer .block-menu:nth-child(4n + 2) {
  margin-left: 25.42373%;
  margin-right: -100%;
  clear: none;
}

footer.site-footer .region-footer .block-menu:nth-child(4n + 3) {
  margin-left: 50.84746%;
  margin-right: -100%;
  clear: none;
}

footer.site-footer .region-footer .block-menu:nth-child(4n + 4) {
  margin-left: 76.27119%;
  margin-right: -100%;
  clear: none;
}

footer.site-footer .region-footer .block-menu ul.menu {
  list-style: none;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

@media (min-width: 48.5rem) {
  footer.site-footer .region-footer .block-menu ul.menu {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

@media (min-width: 48.5rem) {
  footer.site-footer .region-footer .block-menu ul.menu {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

footer.site-footer .region-footer .block-menu ul.menu li {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  margin-bottom: 1.25vmin;
}

@media (min-width: 48.5rem) {
  footer.site-footer .region-footer .block-menu ul.menu li {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

@media (min-width: 48.5rem) {
  footer.site-footer .region-footer .block-menu ul.menu li {
    margin-bottom: 0.69444vw;
  }
}

footer.site-footer .region-footer .block-menu ul.menu li:last-child {
  margin-bottom: 0;
}

@media (min-width: 48.5rem) {
  footer.site-footer .region-footer .block-menu ul.menu li:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 48.5rem) {
  footer.site-footer .region-footer {
    display: block;
  }
}

footer.site-footer .region-footer-info #block-legalList {
  display: block;
  text-align: center;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 1.375vmin;
}

@media (min-width: 48.5rem) {
  footer.site-footer .region-footer-info #block-legalList {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media (min-width: 48.5rem) {
  footer.site-footer .region-footer-info #block-legalList {
    margin-top: 0.76388vw;
  }
}

footer.site-footer .region-footer-info #block-legalList li {
  display: inline-block;
  position: relative;
  margin-right: 1.375vmin;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

@media (min-width: 48.5rem) {
  footer.site-footer .region-footer-info #block-legalList li {
    margin-right: 0.76388vw;
  }
}

@media (min-width: 48.5rem) {
  footer.site-footer .region-footer-info #block-legalList li {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

footer.site-footer .region-footer-info #block-legalList li:after {
  content: '-';
  position: absolute;
  color: #f1f3f1;
  right: -1.25vmin;
  top: 0.25vmin;
}

@media (min-width: 48.5rem) {
  footer.site-footer .region-footer-info #block-legalList li:after {
    right: -0.69444vw;
  }
}

@media (min-width: 48.5rem) {
  footer.site-footer .region-footer-info #block-legalList li:after {
    top: 0.13889vw;
  }
}

footer.site-footer .region-footer-info #block-legalList li:last-child {
  margin-right: 0;
}

@media (min-width: 48.5rem) {
  footer.site-footer .region-footer-info #block-legalList li:last-child {
    margin-right: 0;
  }
}

footer.site-footer .region-footer-info #block-legalList li:last-child:after {
  content: '';
}

footer.site-footer .region-footer-info #block-legalList li a {
  font-size: 1.5vmin;
  text-decoration: underline;
}

@media (min-width: 48.5rem) {
  footer.site-footer .region-footer-info #block-legalList li a {
    font-size: 0.83332vw;
  }
}

#block-legal, #block-legalList {
  display: none !important;
}

.layout-container {
  padding-top: 0 !important;
}

.layout-container > header {
  z-index: 2;
}

.layout-container .site-header {
  padding-top: 1.25vmin;
  padding-right: 1.25vmin;
  padding-bottom: 1.25vmin;
  padding-left: 1.25vmin;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

@media (min-width: 48.5rem) {
  .layout-container .site-header {
    padding-top: 0.69444vw;
    padding-right: 0.69444vw;
    padding-bottom: 0.69444vw;
    padding-left: 0.69444vw;
  }
}

.layout-container .site-header .wrapper {
  align-items: center;
  display: flex;
  flex-direction: inherit;
}

.layout-container .region-header {
  align-content: center;
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

@media (min-width: 0) and (max-width: 48.5rem) {
  .layout-container .region-header .block-system-branding-block .site-name {
    display: none;
  }
}

@media (min-width: 0) and (max-width: 30rem) {
  .layout-container .region-header .block-system-branding-block {
    padding-top: 1.25vmin;
    padding-right: 1.25vmin;
    padding-bottom: 1.25vmin;
    padding-left: 1.25vmin;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 0) and (max-width: 30rem) and (min-width: 48.5rem) {
  .layout-container .region-header .block-system-branding-block {
    padding-top: 0.69444vw;
    padding-right: 0.69444vw;
    padding-bottom: 0.69444vw;
    padding-left: 0.69444vw;
  }
}

@media (min-width: 0) and (max-width: 48.5rem) {
  .layout-container {
    padding: 0;
  }
}

@media (min-width: 100rem) {
  .layout-container {
    padding: 0 0;
  }
}

.layout-container .menu-slide-action {
  width: 6.25vmin;
  height: 6.25vmin;
  cursor: pointer;
  position: relative;
  z-index: 8;
}

@media (min-width: 48.5rem) {
  .layout-container .menu-slide-action {
    width: 3.47219vw;
  }
}

@media (min-width: 48.5rem) {
  .layout-container .menu-slide-action {
    height: 3.47219vw;
  }
}

.layout-container .menu-slide-action #menu-svg {
  height: 2.2222vw;
  position: absolute;
  width: 2.2222vw;
}

.layout-container .menu-slide-action svg {
  height: 6.25vmin !important;
  position: absolute;
  top: 0;
  width: 6.25vmin !important;
}

@media (min-width: 100rem) {
  .layout-container .menu-slide-action svg {
    height: 3.05552vw !important;
    top: -0.62499vw;
    width: 3.05552vw !important;
  }
}

.layout-container .menu-slide-action svg path,
.layout-container .menu-slide-action svg a,
.layout-container .menu-slide-action svg g {
  fill: #ef3340;
  transition: fill 2s ease;
}

@media (min-width: 48.5rem) {
  .layout-container .menu-slide-action {
    display: none;
  }
}

@media (min-width: 100rem) {
  .layout-container .menu-slide-action {
    margin: 0.69444vw 0;
  }
}

.layout-container .block-system-branding-block {
  align-items: center;
  display: flex;
}

.layout-container .block-system-branding-block .site-logo {
  margin: 1.75vmin 0 1.25vmin 0;
  margin-right: 1.875vmin;
  z-index: 999;
}

@media (min-width: 100rem) {
  .layout-container .block-system-branding-block {
    margin: 0.97221vw 0 0.69444vw 0;
    margin-right: 4.79162vw;
    margin-left: 2.77775vw;
    transform: scale(1.5);
  }
}

.layout-container .block-search form {
  display: flex;
  align-items: center;
}

.layout-container nav ul {
  margin: 0;
  padding: 0;
}

.layout-container nav ul li {
  margin: 1.875vmin 0 1.75vmin 0;
  margin-right: 4vmin;
  padding: 0;
}

@media (min-width: 64rem) {
  .layout-container nav ul li {
    display: inline-block;
  }
}

@media (min-width: 100rem) {
  .layout-container nav ul li {
    margin: 1.04166vw 0 0.97221vw 0;
    margin-right: 2.2222vw;
  }
}

.layout-container nav ul.is-visible {
  border-color: white;
}

.layout-container nav ul.is-visible a {
  color: white;
}

.layout-container nav ul a {
  text-transform: uppercase;
}

.layout-container nav ul:active, .layout-container nav ul .is-active {
  color: white;
}

.layout-container nav ul:active:hover, .layout-container nav ul .is-active:hover {
  color: #ef3340;
}

.layout-container .menu--account {
  display: block;
  position: relative;
}

.layout-container .menu--account h2 {
  display: block;
  width: 42px;
  height: 42px;
  background-image: url("../images/ico-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%;
  float: right;
  background-color: red;
  border: none !important;
}

.layout-container .menu--account:hover > h2 {
  background-position: 0 0;
  transition: 0.2s;
  border: none;
}

.layout-container .menu--account:hover > ul {
  opacity: 1;
  visibility: visible;
  transition: 0.2s;
}

@media (min-width: 0) and (max-width: 48.5rem) {
  .layout-container .menu--account.active > h2 {
    background-color: red;
    background-position: 0 0;
  }
}

@media (min-width: 0) and (max-width: 64rem) {
  .layout-container .menu--account.active > ul {
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
  }
}

.layout-container .menu--account > ul {
  display: block !important;
  background-color: #ef3340;
  min-width: 200px;
  opacity: 0;
  position: absolute;
  z-index: 99999;
  right: 0px;
  top: 57px;
  visibility: hidden;
  transition: 0.2s;
}

.layout-container .menu--account > ul li.menu-item--active-trail a {
  color: white;
}

.layout-container .menu--account > ul a {
  color: white;
  display: block;
}

.layout-container .menu--account > ul a:hover {
  color: white;
  text-decoration: underline;
}

.user-logged-in .region-sliding-menu {
  top: 136px;
}

@media (min-width: 0) and (max-width: 30rem) {
  .user-logged-in .region-sliding-menu {
    top: 131px;
  }
}

.region-sliding-menu {
  background: #0a2239;
  bottom: 0;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  right: 0;
  top: 99px;
  transform: translateX(100%);
  transition: .5s ease-in-out;
  width: 100vw;
  z-index: 499;
}

.region-sliding-menu.is-visible {
  border-color: white;
  transform: translateX(0);
}

.region-sliding-menu.is-visible a {
  color: white;
  text-transform: uppercase;
}

.region-sliding-menu.is-visible:active,
.region-sliding-menu.is-visible .is-active {
  color: white;
}

.region-sliding-menu.is-visible:active:hover,
.region-sliding-menu.is-visible .is-active:hover {
  color: #ef3340;
}

.region-sliding-menu .sliding-panel-fade-screen {
  position: fixed;
  top: 0;
  background: black;
  opacity: 0;
  transition: 1.2s ease-in-out;
  visibility: hidden;
  z-index: 999998;
}

.region-sliding-menu .sliding-panel-fade-screen.is-visible {
  opacity: .4;
  visibility: visible;
}

.region-sliding-menu .region-sliding-menu {
  padding-left: 7.5%;
  padding-right: 7.5%;
}

@media (min-width: 80rem) {
  .region-sliding-menu .region-sliding-menu {
    padding: 2.313rem 5.063rem 4rem 6.250rem;
  }
}

@media (min-width: 0) and (max-width: 30rem) {
  .region-sliding-menu {
    top: 95px;
  }
}

@media (min-width: 80rem) {
  .region-sliding-menu {
    width: 76vw;
  }
}

.region-primary-menu .menu {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  border-bottom: 0.125vmin solid white;
  padding-bottom: 2vmin;
  margin-bottom: 2vmin;
  text-align: center;
}

@media (min-width: 48.5rem) {
  .region-primary-menu .menu {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
  }
}

@media (min-width: 48.5rem) {
  .region-primary-menu .menu {
    border-bottom: 0.06944vw solid white;
  }
}

@media (min-width: 48.5rem) {
  .region-primary-menu .menu {
    padding-bottom: 1.1111vw;
  }
}

@media (min-width: 48.5rem) {
  .region-primary-menu .menu {
    margin-bottom: 1.1111vw;
  }
}

.region-primary-menu .menu-item {
  display: inline-block;
}

.region-primary-menu .menu-item a {
  margin-right: 1vmin;
  border-right: 0.125vmin solid #ced3d7;
  color: #6c7a88;
  display: block;
  text-transform: uppercase;
}

@media (min-width: 48.5rem) {
  .region-primary-menu .menu-item a {
    margin-right: 0.55555vw;
  }
}

@media (min-width: 48.5rem) {
  .region-primary-menu .menu-item a {
    border-right: 0.06944vw solid #ced3d7;
  }
}

.region-primary-menu .menu-item a:hover, .region-primary-menu .menu-item a.is-active {
  color: #0a2239;
}

.region-primary-menu .menu-item a:hover:hover, .region-primary-menu .menu-item a.is-active:hover {
  color: #0a2239;
}

.region-primary-menu .menu-item a.is-active {
  cursor: default;
  font-weight: 600;
}

.region-primary-menu .menu-item:last-child a {
  border-right: 0;
}

.region .region-secondary-menu {
  max-width: 100%;
}

.region .region-secondary-menu .menu {
  display: flex;
  justify-content: flex-end;
}

.region .region-secondary-menu .menu .menu-item {
  display: block;
  margin-left: 2.2222vw;
  margin-right: 0;
}

@media (min-width: 64rem) {
  .region .region-secondary-menu .menu .menu-item {
    margin-left: 4vmin;
  }
}

@media (min-width: 100rem) {
  .region .region-secondary-menu .menu .menu-item {
    margin-left: 2.2222vw;
  }
}

.layout-sidebar-first .block h2,
.layout-sidebar-first .block h3,
.layout-sidebar-second .block h2,
.layout-sidebar-second .block h3 {
  border-bottom: 0.125vmin solid #6c7a88;
}

@media (min-width: 48.5rem) {
  .layout-sidebar-first .block h2,
  .layout-sidebar-first .block h3,
  .layout-sidebar-second .block h2,
  .layout-sidebar-second .block h3 {
    border-bottom: 0.06944vw solid #6c7a88;
  }
}

.search-block-form {
  margin-right: 2.5vmin;
}

@media (min-width: 48.5rem) {
  .search-block-form {
    margin-right: 1.38888vw;
  }
}

@media (min-width: 0) and (max-width: 48.5rem) {
  .search-block-form {
    width: 54%;
    margin-right: 0;
    display: none;
  }
}

.search-block-form.active {
  display: block;
  background: #ef3340;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  top: 100%;
  max-width: none;
  left: 0;
  width: 100%;
  padding: 0.5rem;
  z-index: 99;
}

.search-block-form.active #search-block-form .js-form-item {
  flex-grow: 1;
}

.search-block-form.active #search-block-form .js-form-item #edit-keys {
  width: 100%;
}

.search-block-form.active #search-block-form .form-actions {
  margin-left: 10px;
}

.search-block-form.active #search-block-form .form-actions #edit-submit {
  font-size: 16px;
}

.search-block-form #search-block-form .js-form-item {
  display: block;
  margin: 0;
}

.search-block-form #search-block-form .js-form-item #edit-keys {
  height: 4vmin;
  font-size: 14px;
}

@media (min-width: 0) and (max-width: 30rem) {
  .search-block-form #search-block-form .js-form-item #edit-keys {
    width: 100%;
  }
}

.search-block-form #search-block-form .js-form-item .form-search {
  font-size: 14px;
}

@media (min-width: 0) and (max-width: 30rem) {
  .search-block-form #search-block-form .js-form-item {
    flex-grow: 1;
  }
}

.search-block-form #search-block-form .form-actions {
  display: block;
}

.search-block-form #search-block-form .form-actions .js-form-submit {
  height: 4vmin;
  border-radius: 0;
  line-height: normal;
}

@media (min-width: 0) and (max-width: 30rem) {
  .search-block-form #search-block-form .form-actions .js-form-submit {
    font-size: 14px;
  }
}

@media (min-width: 0) and (max-width: 30rem) {
  .search-block-form #search-block-form {
    width: 100%;
  }
}

.search-icons-button {
  cursor: pointer;
  position: relative;
  margin-right: 5px;
  width: 4vmin;
  height: 4vmin;
}

.search-icons-button.active .search-icon {
  border-color: transparent;
  transition: all 0.4s cubic-bezier(0.11, 0.92, 0.52, 0.98);
  top: 50%;
  left: 50%;
}

.search-icons-button.active .search-icon:before {
  transform: rotate(45deg) translate(0%, 0%);
  width: 150%;
  transition: all 0.2s cubic-bezier(0.11, 0.92, 0.52, 0.98) 0.2s;
}

.search-icons-button.active .search-icon:after {
  transform: rotate(-45deg) translate(0%, 0%);
  width: 150%;
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.11, 0.92, 0.52, 0.98) 0.4s;
}

.search-icons-button .search-icon {
  position: absolute;
  width: 4vmin;
  height: 4vmin;
  top: 47%;
  left: 49%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.4s cubic-bezier(0.11, 0.92, 0.52, 0.98) 0.5s;
}

.search-icons-button .search-icon:before, .search-icons-button .search-icon:after {
  content: "";
  position: absolute;
  top: 100%;
  height: 2px;
  display: block;
  background-color: white;
}

.search-icons-button .search-icon:before {
  right: 0;
  transition: all 0.4s cubic-bezier(0.11, 0.92, 0.52, 0.98) 0.2s;
  transform-origin: right bottom;
  transform: rotate(45deg) translate(50%, 50%);
  width: 48%;
}

.search-icons-button .search-icon:after {
  left: 0;
  width: 100%;
  opacity: 0;
  transform: rotate(-45deg) translate(-50%, -50%);
  transform-origin: left bottom;
  transition: transform 0.4s cubic-bezier(0.11, 0.92, 0.52, 0.98), opacity 0.2s cubic-bezier(0.11, 0.92, 0.52, 0.98);
}

@media (min-width: 48.5rem) {
  .search-icons-button {
    display: none;
  }
}

.block-menu.menu--account h2 {
  margin: 0;
  width: 4vmin;
  height: 4vmin;
}

.block-menu.menu--account h2:hover {
  cursor: pointer;
}

.block-menu.menu--account .menu {
  top: 4vmin;
}

.block-menu.menu--account .menu li {
  display: block;
  margin: 0;
  text-align: center;
}

.block-menu.menu--account .menu li a {
  padding-top: 1.25vmin;
  padding-right: 1.25vmin;
  padding-bottom: 1.25vmin;
  padding-left: 1.25vmin;
  display: block;
  text-decoration: none;
}

@media (min-width: 48.5rem) {
  .block-menu.menu--account .menu li a {
    padding-top: 0.69444vw;
    padding-right: 0.69444vw;
    padding-bottom: 0.69444vw;
    padding-left: 0.69444vw;
  }
}

.block-menu.menu--account .menu li a:hover {
  background-color: rgba(181, 36, 41, 0.4);
}

input:not(.form-checkbox):not(.form-radio):not(.form-file):not(.form-submit),
select,
textarea {
  background-color: white;
  border: 0.125vmin solid #ced3d7;
  padding-top: 1vmin;
  padding-right: 1vmin;
  padding-bottom: 1vmin;
  padding-left: 1vmin;
  outline: none;
  max-width: 100%;
  font-size: 1.625vmin;
  color: #3b4e61;
}

@media (min-width: 48.5rem) {
  input:not(.form-checkbox):not(.form-radio):not(.form-file):not(.form-submit),
  select,
  textarea {
    border: 0.06944vw solid #ced3d7;
  }
}

@media (min-width: 48.5rem) {
  input:not(.form-checkbox):not(.form-radio):not(.form-file):not(.form-submit),
  select,
  textarea {
    padding-top: 0.55555vw;
    padding-right: 0.55555vw;
    padding-bottom: 0.55555vw;
    padding-left: 0.55555vw;
  }
}

@media (min-width: 48.5rem) {
  input:not(.form-checkbox):not(.form-radio):not(.form-file):not(.form-submit),
  select,
  textarea {
    font-size: 0.90277vw;
  }
}

input:not(.form-checkbox):not(.form-radio):not(.form-file):not(.form-submit),
select {
  height: 3.375vmin;
}

@media (min-width: 48.5rem) {
  input:not(.form-checkbox):not(.form-radio):not(.form-file):not(.form-submit),
  select {
    height: 1.87498vw;
  }
}

input[type='search'] {
  box-sizing: border-box;
}

.fieldset-legend,
label:not(.option) {
  font-weight: 600;
  margin-bottom: 0.625vmin;
  font-size: 1.625vmin;
  text-transform: uppercase;
  display: block;
  color: #3b4e61;
}

@media (min-width: 48.5rem) {
  .fieldset-legend,
  label:not(.option) {
    margin-bottom: 0.34722vw;
  }
}

@media (min-width: 48.5rem) {
  .fieldset-legend,
  label:not(.option) {
    font-size: 0.90277vw;
  }
}

.description {
  margin-top: 0.625vmin;
}

@media (min-width: 48.5rem) {
  .description {
    margin-top: 0.34722vw;
  }
}

.form-type-radio, .form-type-checkbox {
  margin-left: 0;
}

@media (min-width: 48.5rem) {
  .form-type-radio, .form-type-checkbox {
    margin-left: 0;
  }
}

.form-type-radio input, .form-type-checkbox input {
  margin-right: 0.625vmin;
}

@media (min-width: 48.5rem) {
  .form-type-radio input, .form-type-checkbox input {
    margin-right: 0.34722vw;
  }
}

.form-item > label,
.form-item > .label,
.field--type-datetime > label,
.field--type-datetime > .label {
  font-size: 1.625vmin;
  font-weight: bold;
  color: #3b4e61;
  text-transform: uppercase;
}

@media (min-width: 48.5rem) {
  .form-item > label,
  .form-item > .label,
  .field--type-datetime > label,
  .field--type-datetime > .label {
    font-size: 0.90277vw;
  }
}

.password-strength {
  margin-top: 1vmin;
  margin-right: 0;
  margin-bottom: 1vmin;
  margin-left: 0;
  font-size: 1.625vmin;
}

@media (min-width: 48.5rem) {
  .password-strength {
    margin-top: 0.55555vw;
    margin-right: 0;
    margin-bottom: 0.55555vw;
    margin-left: 0;
  }
}

@media (min-width: 48.5rem) {
  .password-strength {
    font-size: 0.90277vw;
  }
}

.field-suffix {
  margin-left: 0.625vmin;
}

@media (min-width: 48.5rem) {
  .field-suffix {
    margin-left: 0.34722vw;
  }
}

.field-suffix .link {
  margin-left: 1.25vmin;
  text-transform: uppercase;
  font-size: 1.25vmin;
  color: #0a2239;
}

@media (min-width: 48.5rem) {
  .field-suffix .link {
    margin-left: 0.69444vw;
  }
}

@media (min-width: 48.5rem) {
  .field-suffix .link {
    font-size: 0.69444vw;
  }
}

.node .field--type-text-long {
  font-size: 2vmin;
}

@media (min-width: 48.5rem) {
  .node .field--type-text-long {
    font-size: 1.1111vw;
  }
}

.node .field--type-text-long ul {
  padding-left: 2vmin;
}

@media (min-width: 48.5rem) {
  .node .field--type-text-long ul {
    padding-left: 1.1111vw;
  }
}

.node .field--type-text-long ul li {
  line-height: 1.5;
  margin-bottom: 2vmin;
}

@media (min-width: 48.5rem) {
  .node .field--type-text-long ul li {
    margin-bottom: 1.1111vw;
  }
}

.path-user .layout-content {
  padding-top: 4vmin;
  padding-right: 0;
  padding-bottom: 4vmin;
  padding-left: 0;
}

@media (min-width: 48.5rem) {
  .path-user .layout-content {
    padding-top: 2.2222vw;
    padding-right: 0;
    padding-bottom: 2.2222vw;
    padding-left: 0;
  }
}

.views-element-container:not(.block-views) .views-row li,
.views-element-container:not(.block-views) ul:not(.links) li {
  border-bottom: 0.125vmin solid #ced3d7;
  margin-bottom: 3vmin;
  padding-bottom: 1vmin;
}

@media (min-width: 48.5rem) {
  .views-element-container:not(.block-views) .views-row li,
  .views-element-container:not(.block-views) ul:not(.links) li {
    border-bottom: 0.06944vw solid #ced3d7;
  }
}

@media (min-width: 48.5rem) {
  .views-element-container:not(.block-views) .views-row li,
  .views-element-container:not(.block-views) ul:not(.links) li {
    margin-bottom: 1.66665vw;
  }
}

@media (min-width: 48.5rem) {
  .views-element-container:not(.block-views) .views-row li,
  .views-element-container:not(.block-views) ul:not(.links) li {
    padding-bottom: 0.55555vw;
  }
}

.views-element-container:not(.block-views) .views-row li:last-child,
.views-element-container:not(.block-views) ul:not(.links) li:last-child {
  border: 0;
}

.views-element-container:not(.block-views) .views-field-title:not(th):not(td) {
  font-size: 3vmin;
  margin-bottom: 1vmin;
  color: #6c7a88;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
}

@media (min-width: 48.5rem) {
  .views-element-container:not(.block-views) .views-field-title:not(th):not(td) {
    font-size: 1.66665vw;
  }
}

@media (min-width: 48.5rem) {
  .views-element-container:not(.block-views) .views-field-title:not(th):not(td) {
    margin-bottom: 0.55555vw;
  }
}

.views-view-grid {
  padding-left: 2vmin;
  padding-right: 2vmin;
}

@media (min-width: 48.5rem) {
  .views-view-grid {
    padding-left: 1.1111vw;
  }
}

@media (min-width: 48.5rem) {
  .views-view-grid {
    padding-right: 1.1111vw;
  }
}

/*# sourceMappingURL=maps/main.css.map */
