/*
Syntax error: Undefined variable: "$blue".
        on line 5 of /Users/Nesta/da_vinci/sass/partials/base/_layouts.sass
        from line 2 of /Users/Nesta/da_vinci/sass/partials/base/*
        from line 12 of /Users/Nesta/da_vinci/sass/main.sass

1: @import 'susy'
2: @import 'breakpoint'
3: @import 'sassy-buttons'
4: @import 'bourbon/bourbon'
5: 
6: @import partials/utilities/variables
7: @import partials/utilities/normalize
8: @import partials/utilities/mixins
9: @import partials/utilities/extends
10: 

Backtrace:
/Users/Nesta/da_vinci/sass/partials/base/_layouts.sass:5
/Users/Nesta/da_vinci/sass/partials/base/*:2
/Users/Nesta/da_vinci/sass/main.sass:12
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/script/tree/variable.rb:49:in `_perform'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/script/tree/node.rb:50:in `perform'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:366:in `visit_prop'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block (2 levels) in visit_rule'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `map'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:389:in `block in visit_rule'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:387:in `visit_rule'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `block (2 levels) in visit_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `map'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `block in visit_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:88:in `block in with_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:88:in `with_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `block (2 levels) in visit_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `map'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:297:in `block in visit_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:88:in `block in with_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:88:in `with_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:294:in `visit_import'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `block in visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `block in with_base'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:121:in `with_frame'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/stack.rb:79:in `with_base'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:152:in `visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:161:in `block in visit_children'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:173:in `with_environment'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:160:in `visit_children'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:180:in `visit_root'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:151:in `visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/engine.rb:371:in `_render_with_sourcemap'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/engine.rb:291:in `render_with_sourcemap'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:482:in `update_stylesheet'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:214:in `block in update_stylesheets'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `each'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:208:in `update_stylesheets'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/sass-3.3.14/lib/sass/plugin/compiler.rb:291:in `watch'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/lib/compass/sass_compiler.rb:46:in `watch!'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/lib/compass/commands/watch_project.rb:41:in `perform'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/lib/compass/commands/base.rb:18:in `execute'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/lib/compass/commands/project_base.rb:19:in `execute'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/bin/compass:30:in `block in <top (required)>'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/bin/compass:44:in `call'
/Users/Nesta/.rvm/gems/ruby-2.1.2/gems/compass-1.0.1/bin/compass:44:in `<top (required)>'
/Users/Nesta/.rvm/gems/ruby-2.1.2/bin/compass:23:in `load'
/Users/Nesta/.rvm/gems/ruby-2.1.2/bin/compass:23:in `<main>'
/Users/Nesta/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/Users/Nesta/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$blue\".\A         on line 5 of /Users/Nesta/da_vinci/sass/partials/base/_layouts.sass\A         from line 2 of /Users/Nesta/da_vinci/sass/partials/base/*\A         from line 12 of /Users/Nesta/da_vinci/sass/main.sass\A \A 1: @import 'susy'\A 2: @import 'breakpoint'\A 3: @import 'sassy-buttons'\A 4: @import 'bourbon/bourbon'\A 5: \A 6: @import partials/utilities/variables\A 7: @import partials/utilities/normalize\A 8: @import partials/utilities/mixins\A 9: @import partials/utilities/extends\A 10: "; }
