/*
 *  @file 
 *  Sass Vars
 */
/**
 *  @file 
 *  Normalize
 *  Import the legacy variables (relevant for controlling compass-normalize).
 */
/* line 7, ../sass/partials/utilities/_normalize.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 22, ../sass/partials/utilities/_normalize.scss */
html {
  line-height: 1;
}

/* line 25, ../sass/partials/utilities/_normalize.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 *  @file
 *  Mixin library
 */
/*
 *  Hide List Bullets
 */
/*
 *  Show List Bullets
 */
/*
 *  Tag base style
 */
/*
 *  Generic Button style
 */
/*
 *  No-icon Helper
 */
/*
 *  Generic Icon Button style
 */
/*
 *  Text Vertical alignment
 *  @pre  The container element must have a fixed height.
 */
/*
 *  Justified element list
 *  @pre  justified-list.js  required.
 *  @pre  DOM structure: <container><element></element><element></element></container>
 *  @see  http://code.jelmerdemaat.nl/2012/perfectly-justified-css-grid-technique-using-inline-block/ 
 */
/*
 *  Layer info on hover
 *  @param $overlay-color; 
 *  @param $opacity;
 */
/*
 *  Media Object styles
 *  @param  $float; 'right','left','initial','inherit' or 'none'
 *  @param  $left;$right; margin values
 *  @param  $align; text alignment
 */
/*
 *  Degrading background-color nth times
 *  @param $color; initial color
 *  @param $n; number of childs are expected to degrade color
 */
/*
 *  @file 
 *  Extends and Placeholder library
 */
/*
 *  Hide modes:
 *    hide-accessible
 *    hide-modern
 *    hide
 *    hidden-tablet / show-tablet
 */
/* line 12, ../sass/partials/utilities/_extends.sass */
.hide-accessible {
  position: absolute;
  white-space: nowrap;
  left: -9999px;
}

/* line 16, ../sass/partials/utilities/_extends.sass */
.hide-modern {
  font-size: 0;
  color: transparent;
  line-height: 0;
}

/* line 20, ../sass/partials/utilities/_extends.sass */
.hide {
  display: none;
}

/* line 22, ../sass/partials/utilities/_extends.sass */
.hidden-tablet {
  display: none;
}
@media (min-width: 44em) {
  /* line 22, ../sass/partials/utilities/_extends.sass */
  .hidden-tablet {
    display: block;
  }
}

/* line 26, ../sass/partials/utilities/_extends.sass */
.show-tablet {
  display: block;
}
@media (min-width: 44em) {
  /* line 26, ../sass/partials/utilities/_extends.sass */
  .show-tablet {
    display: none;
  }
}

/* line 31, ../sass/partials/utilities/_extends.sass */
.media-object {
  overflow: hidden;
}
/* line 179, ../sass/partials/utilities/_mixins.sass */
.media-object > .body {
  overflow: hidden;
}
/* line 181, ../sass/partials/utilities/_mixins.sass */
.media-object.left .body {
  text-align: left;
}
/* line 183, ../sass/partials/utilities/_mixins.sass */
.media-object > .img {
  float: left;
  margin-right: 10px;
  margin-left: 0px;
}
/* line 187, ../sass/partials/utilities/_mixins.sass */
.media-object > .img img {
  display: block;
}
/* line 6, ../sass/partials/utilities/_mixins.sass */
.media-object:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

/* line 35, ../sass/partials/utilities/_extends.sass */
.inline > * {
  display: inline-block;
}

/* line 37, ../sass/partials/utilities/_extends.sass */
.button {
  display: inline-block;
  margin: 2px 0;
  padding: 10px 15px;
  font-size: 13px;
  text-align: center;
  color: white;
  background: #1abc9c;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 49, ../sass/partials/utilities/_extends.sass */
.button:hover {
  background: #16a085;
  text-decoration: none;
}

/* line 52, ../sass/partials/utilities/_extends.sass */
.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 6, ../sass/partials/utilities/_mixins.sass */
.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

/*
 *  Placeholders
 */
/*
 *  %vertical-align
 *  @see http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
 */
/*
 *  %table-style-1
 *  Table generic styles
 */
/*
 *  %grow-width
 *  Placeholder for right icon fixed: styleguide and grid
 */
/*
 *  @file
 *  Susy config declaration
 */
/* line 1, ../sass/partials/components/_panel-dv-custom.sass */
.dv-custom {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
.dv-custom:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 61, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
head {
  display: block;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 999;
  color: #333;
  background: rgba(255, 255, 255, 0.25);
}
/* line 62, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
head:before {
  content: "|||";
  display: block;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}
/* line 63, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
head:hover {
  background: rgba(255, 255, 255, 0.5);
  color: red;
}
/* line 67, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
head:hover ~ .dv-custom, head:hover ~ body .dv-custom {
  position: relative;
}
/* line 70, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
head:hover ~ .dv-custom:before, head:hover ~ body .dv-custom:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-size: 8.47458%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}
/* line 3, ../sass/partials/components/_panel-dv-custom.sass */
.dv-custom .logo-desc {
  width: 23.72881%;
  float: left;
  margin-right: 1.69492%;
  text-align: center;
  background: white;
}
/* line 7, ../sass/partials/components/_panel-dv-custom.sass */
.dv-custom .map {
  width: 74.57627%;
  float: left;
  margin-right: 1.69492%;
  margin-right: 0;
}
/* line 9, ../sass/partials/components/_panel-dv-custom.sass */
.dv-custom .map iframe {
  width: 100%;
  height: 300px;
}
/* line 14, ../sass/partials/components/_panel-dv-custom.sass */
.dv-custom .map .data-tags > .data {
  width: 50%;
  float: left;
}
/* line 17, ../sass/partials/components/_panel-dv-custom.sass */
.dv-custom .map .data-tags > .tags {
  width: 50%;
  float: left;
}

/* line 20, ../sass/partials/components/_panel-dv-custom.sass */
.dv-right-col {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
.dv-right-col:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 67, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
head:hover ~ .dv-right-col, head:hover ~ body .dv-right-col {
  position: relative;
}
/* line 70, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
head:hover ~ .dv-right-col:before, head:hover ~ body .dv-right-col:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-size: 8.47458%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}
/* line 22, ../sass/partials/components/_panel-dv-custom.sass */
.dv-right-col .content {
  width: 74.57627%;
  float: left;
  margin-left: 0;
  margin-right: -100%;
}
/* line 24, ../sass/partials/components/_panel-dv-custom.sass */
.dv-right-col .right-sidebar {
  width: 23.72881%;
  float: left;
  margin-left: 76.27119%;
  margin-right: -100%;
}

/* line 26, ../sass/partials/components/_panel-dv-custom.sass */
.dv-left-col {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
.dv-left-col:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 67, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
head:hover ~ .dv-left-col, head:hover ~ body .dv-left-col {
  position: relative;
}
/* line 70, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
head:hover ~ .dv-left-col:before, head:hover ~ body .dv-left-col:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-size: 8.47458%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}
/* line 28, ../sass/partials/components/_panel-dv-custom.sass */
.dv-left-col > .content {
  width: 74.57627%;
  float: left;
  margin-left: 25.42373%;
  margin-right: -100%;
}
/* line 31, ../sass/partials/components/_panel-dv-custom.sass */
.dv-left-col .dv-left-col-wrapper > .content {
  width: 74.57627%;
  float: left;
  margin-left: 25.42373%;
  margin-right: -100%;
}
/* line 33, ../sass/partials/components/_panel-dv-custom.sass */
.dv-left-col .left-sidebar {
  width: 23.72881%;
  float: left;
  margin-left: 0;
  margin-right: -100%;
}

/* line 35, ../sass/partials/components/_panel-dv-custom.sass */
.dv-full {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/output/support/_clearfix.scss */
.dv-full:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 67, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
head:hover ~ .dv-full, head:hover ~ body .dv-full {
  position: relative;
}
/* line 70, ../../../../.rvm/gems/ruby-2.1.2/gems/susy-2.1.2/sass/susy/language/susy/_background.scss */
head:hover ~ .dv-full:before, head:hover ~ body .dv-full:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-size: 8.47458%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
}
/* line 37, ../sass/partials/components/_panel-dv-custom.sass */
.dv-full .content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 41, ../sass/partials/components/_panel-dv-custom.sass */
.dv-pane .footer {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  clear: both;
}
/* line 44, ../sass/partials/components/_panel-dv-custom.sass */
.dv-pane .footer .panel-pane {
  width: 33%;
  float: left;
}

/* line 15, ../sass/panel.sass */
.dv-custom .panel-region {
  margin-bottom: 1em;
}

/* line 18, ../sass/panel.sass */
.dv-custom .footer .panel-pane {
  width: 32%;
}

/* line 22, ../sass/panel.sass */
.dv-custom .map .data-tags > .data {
  width: 48%;
  margin-right: 4%;
}
/* line 25, ../sass/panel.sass */
.dv-custom .map .data-tags > .tags {
  width: 48%;
}

/* line 28, ../sass/panel.sass */
.dv-pane .footer {
  margin-top: 1em;
}

/* line 31, ../sass/panel.sass */
fieldset .fieldset-legend {
  margin-top: -1.5em;
}

/*# sourceMappingURL=panel.css.map */
