////
/// @group skinr
////

/// @ignore Font title.
$font-title: 'Roboto Condensed', sans-serif
/// @ignore Font Default.
$font-default: 'Roboto', sans-serif
/// @ignore Font Mono.
$font-mono: 'Roboto Mono', monospace

/// @ignore Messages error.
/// @type color
$error: rgba(214, 69, 65, 1)

/// @ignore Messages warning.
/// @type color
$warning: rgba(239, 143, 115, 1)

/// @ignore Messages success.
/// @type color
$success: rgba(59, 147, 118, 1)

/// @ignore Colors.
/// @type color
$color: $dark-grey

/// @ignore Colors.
/// @type color
$color-body: $grey

/// @ignore Colors.
/// @type color
$main-color: $red

/// @ignore Colors.
/// @type color
$secondary-color: $dark-blue

/// @ignore Colors.
/// @type color
$light-color: $light-grey

/// @ignore Colors.
/// @type color
$border: $light-grey

$shadow: hsl(0, 0%, 53%)

/// @ignore Colors.
/// @type color
$color-h: $dark-blue

/// @ignore Colors.
/// @type color
$color-a: $red

/// @ignore Colors.
/// @type color
$color-a-hover: lighten($color-a, 15%)

/// @ignore Measurement.
$rem-base: 16px
/// @ignore Measurement.
$vw-base: 1.1111vw


/// Font size for html.
html
  font-size: 1rem

/// Styles for body.
body
  color: $color-body
  font-family: $font-default
  font-weight: 400
  line-height: 1.3
  main
    +padding(0, 20, 0, 20)
  .layout-container
    background: $cream

/// General styles for titles.
h1,
h2,
h3,
h4,
h5,
h6
  color: $color-h
  font-family: $font-title
  font-weight: 700
  margin: 1rem 0 0.5rem

/// Specific style for h1.
h1
  line-height: 1
  +font-size(64)

/// Specific style for h2.
h2
  +font-size(48)

/// Specific style for h3.
h3
  +font-size(36)

/// Specific style for h4 and h5.
h4, h5
  +font-size(24)

/// Specific style for h4 and h6.
h4,
h6
  font-family: $font-default
  font-weight: 700

/// Specific style for h5.
h5
  font-family: $font-default
  font-weight: 400

/// Specific style for paragraph.
p
  margin: 0 0 1.2rem

/// Styles for link.
a
  color: $color-a
  text-decoration: none
  transition: color 0.2s
  &:hover
    color: $color-a-hover
    text-decoration: none
  &.icon-help
    +font-size(13)

/// Font in bold.
strong
  font-weight: 700

mark,
.marker
  float: right
  +font-size(10)
  color: $white
  +padding(6, 6, 6, 6)
  background-color: $grey

summary
  outline: none

blockquote
  font-family: $font-title
  color: $grey
  margin: vmin-calc(24) 0 vmin-calc(24) vmin-calc(8)
  +padding-left(16)
  +font-size(24)
  +border(3, solid, $red)
  +breakpoint($medium)
    margin: vw-calc(24) 0 vw-calc(24) vw-calc(48)
  > p:first-child
    display: inline

code, kbd, pre, samp
  +font-size(13)