// Search block & Search form
#block-search-form,
#search-form
  // Search button
  .form-actions,
  #edit-basic
    .form-submit
      background: image-url('lupa.png') center center no-repeat $green
      padding: 15px 20px
      position: relative
      top: -4px
      @extend .hide-modern
      &:hover
        background-color: $dark-green