/**
 *  @file
 *  Search Form Block Styles
 */
#block-search-form,
#search-form
  .form-actions,
  #edit-basic
    .form-submit
      // Corregir esto.. no puede estar maquetado así, la lupa tiene que tener el color de fondo en la imagen.
      background: image-url('lupa.png') center center no-repeat $green
      padding: 15px 17px
      position: relative
      top: -4px
      @extend .hide-modern
      &:hover
        background-color: $dark-green