#block-search-form
  // Search button
  .form-actions
    position: relative
    top: -4px
    .form-submit
      background: image-url('lupa.png') center center no-repeat $green
      background-size: 50%
      padding: 15px 20px
      @extend .hide-modern
      &:hover
        background-color: $dark-green