////
/// Clases & placeholders.
/// @link http://thesassway.com/intermediate/understanding-placeholder-selectors
/// @group helpers
////

/// Simple list.
.simple-list
  margin: 0
  padding: 0
  li
    list-style-image: none
    list-style-type: none

/// Add content in to grid.
.restricted-container
  +clearfix
  +container(84.5vw)

/// Hide element.
.hide-element
  visibility: hidden

/// Hide element 2.
.hide-accesible
  line-height: 0
  font-size: 0
  color: transparent

.visually-hidden
  position: absolute !important
  clip: rect(0.063rem, 0.063rem, 0.063rem, 0.063rem)
  overflow: hidden
  height: 0.063rem
  width: 0.063rem
  word-wrap: normal

/// Class for animation.
.animated
  animation-duration: 1s
  animation-fill-mode: both

/// Add transition.
.late
  transition: 2s

/// Visible from medium.
.hide-rwd-mobile
  display: none
  +breakpoint($medium)
    display: block

/// Visible from medium-large.
.hide-rwd-medium
  display: none
  +breakpoint($medium-large)
    display: block

/// Visible from large.
.hide-rwd-large
  display: none
  +breakpoint($large)
    display: block
