/// Colour hover red.
$red-hover: rgba(181, 36, 41, 0.4)
/// Colour red.
$red: rgba(239, 51, 64, 1)
/// Colour dark red.
$dark-red: rgba(112, 24, 29, 1)
/// Colour darker blue.
$darker-blue: rgba(8, 29, 48, 1)
/// Colour dark blue.
$dark-blue: rgba(10, 34, 57, 1)
/// Colour blue.
$blue: rgba(59, 78, 97, 1)
/// Colour darker blue.
$dark-grey: rgba(108, 122, 136, 1)
/// Colour grey.
$grey: rgba(157, 167, 176, 1)
/// Colour light grey.
$light-grey: rgba(206, 211, 215, 1)
/// Colour lighter grey.
$lighter-grey: rgba(241, 243, 241, 1)
/// Colour scream.
$cream: rgba(250, 248, 244, 1)
/// Colour white.
$white: white
