// Screen sizes (grid)

// default
$x-small: 22.5rem
$small: 30rem

// > 768
$medium: 48.5rem

// > 950
$medium-large: 59.375rem

// > 1060
$large: 66.250rem

// > 1200
$x-large: 75rem
$xx-large: 90rem
$monster: 100rem
$x-monster: 120rem

// Min to Max
$below-x-small: 0 $x-small
$medium-to-large: $medium-large $large
