// EXTENDS

// Different ways to hide an element
.hide-accessible
  position: absolute
  white-space: nowrap
  left: -9999px

.hide-modern
  font-size: 0
  color: transparent
  line-height: 0

.hide
  display: none

.hidden-tablet
  display: none
  +breakpoint($tablet)
    display: block

.show-tablet
  display: block
  +breakpoint($tablet)
    display: none

// Using media object mixin
.media-object
  +media-object()
  +clearfix

// First level children aligned
.inline
  > *
    display: inline-block

// General style button
.button
  background: $turquoise
  border: none
  +border-radius(5px)
  color: $white
  cursor: pointer
  font-size: 13px
  padding: 10px 15px
  text-align: center
  a
    color: $white
  &:hover
    background: $dark-turquoise
    text-decoration: none

// Not allowed select an item
.unselectable
  // Chrome all / Safari all / Firefox all / IE 10+
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  -o-user-select: none
  user-select: none

.clearfix
  +clearfix()


// Placeholders

// See this URL for explanation: http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
%vertical-align
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)


//Let's Have an extend for tables with some basic styles
%table-style-1
  table
    border: 1px solid $black
    margin: 1em 0
  tr.odd
    background: $white
  tr.even
    background: $beige
  th
    text-transform: uppercase
    font-weight: normal
    color: $dark-turquoise
    background: $beige
    border: 1px solid $gray
    padding: .3em .5em
  td
    font-size: .9em
    padding: 1em .5em
    vertical-align: top
