/*------------------
  Colours
  ------------------*/
// Primary Colours
$dark-turquoise: #68B3AF
$turquoise: #87BDB1
$green: #AACCB1
$light-green: #C3DBB4
$lightest-green: #D3E2B6

// Secondary Colours
$dark-beige: #CAB595
$beige: #DBCFB7
$light-beige: #EEEADD

// Basic Colours
$white: #FFFFFF
$gray: #F8F8F1
$black: #42312C


/*------------------
  Grid
  ------------------*/
$mobile-360   : 22.5em
$mobile       : 30em
$tablet       : 44em
$desk         : 64em
$max-width    : 75em
$large-width  : 82em
$monster      : 118.750em


/*------------------
  Legacy support
  ------------------*/
$legacy-support-for-ie6: false
$legacy-support-for-ie7: false
$legacy-support-for-ie8: true
