/**
 *  @file 
 *  Sass Vars
 */
// Primary Colours
$dark-green: #80A18D
$green: #AACCB1
$light-green: #C3DBB4
$lightest-green: #D3E2B6
// Secondary Colours
$dark-beige: #CAB595
$beige: #DBCFB7
$light-beige: #EEEADD
// Basic Colours
$white: #FFFFFF
$gray: #F8F8F1
$black: #42312C
// Gray scale
$gray-7: #686257
// Messages
$red-error: #A33737
$warning: #E4844A
$dpm: #FADB61

// -- Skinr | skinr.sass--

$color-body                : $gray-7
$background-page           : $gray
// Color for links
$color-a                   : $dark-green
$color-a-hover             : $green
// Color for titles
$color-h                   : $dark-beige
$color-page-title          : $dark-green
$background-page-title     : $gray
$border-page-title         : $beige
// Color for label and description
$color-label               : $dark-beige
$color-description         : $beige
// Color for input, select, textarea
$background-form-element   : $white
$border-form-element       : $green
$border-form-element-error : $red-error

// -- Extends | extends.sass-- 

// Buttons

$color-button              : $white
$background-button         : $green
$background-button-hover   : $dark-green

// Table 

$border-table              : $black
// Color for th
$color-th                  : $dark-green
$border-th                 : $gray
$background-th             : $beige
// Color for tr tag: Par & impar 
$background-tr-impar       : $white
$background-tr-par         : $beige

// Placeholders
$color-grow                : $gray
$background-grow           : $green
$background-grow-hover     : $dark-green


// -- Header | header.sass--

$background-top-bar      : $green
$background-header       : $dark-beige
$color-site-name         : $light-beige 
$color-site-slogan       : $light-beige

// -- Footer --
$background-footer: $black
$color-footer: $gray

// -- Menu | main-menu.sass--

$background-menu         : $dark-beige
$color-menu-a            : $gray
$border-menu-a           : $gray
$color-menu-a-hover-active: $dark-green
$background-menu-a-hover-active: $gray
$border-menu-a-hover-active: $gray

// -- Pager --

$color-pager-current: $black
$color-pager-first-last-a: $white
$background-pager-first-last: $green
$background-pager-first-last-hover: $dark-green

// -- Comments --

$color-count: $white
$color-comment-title : $green
$color-submitted: $dark-beige
$color-comment-new: $gray
$color-new-comment-a-hover: $white
$border-comment-links : $green
$border-attribution: $light-beige
$background-comment-new: $green

// -- Message --

// General
$color-message: $white
$color-message-a: $white
// Error
$background-message-error: $red-error
$border-message-error: $red-error
// Warning
$background-message-warning: $warning
$border-message-warning: $warning
// Status
$background-message-status: $green
$border-message-status: $green
// Dpm
$background-dpm: $dpm
$border-dpm: $black

// -- Sprite Social links --
$color-service: $green

// -- Region content | content.sass --
$background-region: $white
$border-region: $green

// -- Masonry --

// Article
$border-masonry-article: $beige
$background-masonry-article: $white
$shadow-masonry-article: $black
// Close icon
$background-masonry-close: $green
$background-masonry-close-hover: $dark-green
// Link login to post
$border-masonry-forbidden: $green

// -- Search --
$background-search-button: image-url('lupa.png') center center no-repeat $green
$background-search-button: $dark-green

// -- Preface --

$color-preface: $white
$background-preface: $light-beige

// -- Mixins --

// Tags mixin
$color-tags: $black
$color-tags-active: $white
$color-tags-active-hover: $gray
$color-tags-hover: $white
$background-tags: $lightest-green
$background-tags-active: $green
$background-tags-hover: $light-green
$border-tags-hover: $green
$border-tags: $beige

// Button mixin 
$background-button-parameter: $light-green
$color-button-mixin: $white

// Button-icon mixin
$background-button-icon-parameter: $light-green
$color-button-icon-a: $white

// Hover-info mixin
$background-info-parameter: $black
$background-show-info: $beige

// Degrading mixin
$color-degrading-parameter: $black

// NESTAAAAAA

// Sliding menu
$background-menu-screen: $green
$background-sliding-menu-content: $gray

// Breadcrumbs
$color-breadcrumbs: $gray-7

// Elements
$background-backtotop: image-url('backtotop.png') center center no-repeat $green
$color-backtotop: $white
$color-backtotop-hover: $dark-green

// Forms
$background-loading-layer: $light-green
$background-confirmation: $light-green

// Modal
$background-modal-content: $white
$color-modal-content: $black

// Cookies
$background-sliding-popup-button: $white
$color-sliding-popup-button: $dark-beige

// Maintenance
$background-maintenance-page: $beige

// Views
$border-node-teaser: $beige

// -- Tables --
$background-table-tr-selected: $green
$background-table-tr-drag: $beige
$background-table-tr-drag-previous: $light-beige
$background-table-tr-draggable: $beige
$background-table-td-active: $lightest-green
$background-table-even-odd: $white 

// -- Tabs --
$background-tabs-element: $white
$border-tabs-element: $white
$color-tabs-element: $green

// Hover
$background-tabs-element-hover: $white
$border-tabs-element-hover: $green
$color-tabs-element-hover: $green

// > tablet
$color-tabs-element-tablet: $white
$color-tabs-element-tablet-hover: $green
$background-tabs-element-tablet: $green
$background-tabs-element-tablet-hover: $white 
$border-tabs-element-tablet: $green
$border-tabs-element-tablet-hover: $green

// Active
$background-tabs-element-active: $green
$border-tabs-element-active: $green
$color-tabs-element-active: $white 


// -- CKeditor --
$color-template: $black
$color-template-header: $green
$color-template-span: $black



// Screen sizes (grid)
$mobile-360   : 22.5em
$mobile       : 30em
$tablet       : 44em
$desk         : 64em
$max-width    : 75em
$large-width  : 82em
$monster      : 118.750em
// Legacy support
$legacy-support-for-ie6: false
$legacy-support-for-ie7: false
$legacy-support-for-ie8: true
