//Defines the initial layout of the regions in page.tpl.php

//TESTSTYLES for easier initial setup - delete once not needed anymore
.user-bar
  background: $dark-turquoise
  color: $white
  padding: .5em 0

.site-header
  background: $dark-beige

#site-logo img
  max-width: 100%
#site-title a
  color: $white

.region-preface
  color: $white
  padding: .5em 0
  background: $turquoise
  min-height: 10em

#main-content
  padding: 2em 0
  background: $white

.site-footer
  background: $black
  color: $gray
  padding: 2em 0
//END: TESTSTYLES


.container
  +container(96%)
  +clearfix

.region-user-bar,
.region-footer
  @extend .container

+breakpoint($tablet)
  .container
    +container(90%)
  .header-left
    +span(6 of 12 first)
  .header-right
    +span(6 of 12 last)
  .one-sidebar.sidebar-first
    #content
      +span(9 of 12 last)
    #sidebar-first
      +span(3 of 12 first)
  .one-sidebar.sidebar-second
    #content
      +span(9 of 12 first)
    #sidebar-second
      +span(3 of 12 last)

  .two-sidebars
    #content
      +span(isolate 6 at 4 of 12)
    #sidebar-first
      +span(3 of 12 first)
    #sidebar-second
      +span(3 of 12 last)
  .hx
    +full
    float: none

+breakpoint($desk)
  .container
    +container(1200px)

  .one-sidebar.sidebar-first
    #content
      //+span(isolate 10 at 3 last)
    #sidebar-first
      //+span(2 first)
  .one-sidebar.sidebar-second
    #content
      //+span(9 of 12 first)
    #sidebar-second
      //+span(3 of 12 last)

  .two-sidebars
    #content
      //+span(isolate 6 at 4 of 12)
    #sidebar-first
      //+span(3 of 12 first)
    #sidebar-second
      //+span(3 of 12 last)
