@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700)
@import url(http://fonts.googleapis.com/css?family=Over+the+Rainbow)

html
  font-size: 1em

body
  font-family: 'Lato', 'Helvetica', sans-serif
  color: $black
  font-weight: 400
  line-height: 1.2
#page
  background: $gray
.main-content
  margin-top: 1em

h1,
h2,
h3,
h4,
h5,
h6
  font-weight: 700
  color: $dark-beige
  margin-bottom: .5em

h1
  font-size: 2.074em
h2
  font-size: 1.728em
h3
  font-size: 1.44em
h4
  font-size: 1.2em

.small
  font-size: 0.833em

// User Title
.hx
  text-align: center
  margin-top: 15px
  position: relative
  .page-title
    color: $green
    background: $gray
    display: inline-block
    padding: 0 1em
    position: relative
  &:before
    position: absolute
    width: 100%
    border-top: 2px dashed $beige
    display: block
    content: ''
    top: 23px

p
  margin-bottom: 1.3em

a
  color: $dark_turquoise
  text-decoration: none
  &:hover
    color: $turquoise
    text-decoration: none

// Lists
ul
  +hide_bullets()

ol.show-bullets
  +show_bullets()
  li
    list-style-type: decimal

ul.show-bullets
  +show_bullets()

.backtotop
  background: $green
  +border-radius(8px)
  padding: 1em
  display: block
  position: fixed
  right: 1em
  bottom: 1em
  a
    color: $white
  &:hover
    background: $dark-green
