#navigation
  background-color: $dark-beige
  padding-top: 10px
  h2
    @extend .hide-modern
  ul
    +hide_bullets()
    li
      height: 35px
      float: left
      margin-right: .6em
      &:last-child
        margin-right: 0
      a
        display: block
        color: $gray
        padding: 0 .9em
        height: 35px
        border-bottom: 0 solid $gray
        line-height: 2.2em
        +border-top-left-radius(4px)
        +border-top-right-radius(4px)
        +transition(color .4s, border-bottom .4s .1s)
        &:hover
          border-bottom: 35px solid $gray
          color: $turquoise
          +transition(color .4s .2s, border-bottom .4s)
        &.active
          border-bottom: 35px solid $gray
          color: $turquoise
    &#main-menu
      display: inline-block
      width: 80%
      float: left
    &#secondary-menu
      display: inline-block
      width: 20%
      float: left