// General IE stylesheet
.ie
  .form-contact
    .form-textarea
      max-width: 450px
      max-height: 95px
    //Ckeditor img width 100%
    article
      a
        img
          width: 100%
// IE 9
.ie9

// IE 11
// Text-align: justify not working in IE11
.ie11
