.node-teaser
  .submitted
    border-bottom: 1px dotted  $beige
    margin-bottom: +gutter(8)
    font-size: 13px
    li
      &.published
        margin-bottom: 5px
    .user-picture
      float: left
      margin-right: 10px
      max-width: 52px
  .content
    overflow: hidden
    .field-type-image
      float: left
      margin-right: 15px
