footer.site-footer
  background-color: $dark-blue
  margin-top: auto
  .footer-wrapper
    +padding(16,0,16,0)
    display: flex
    align-items: center
    justify-content: space-between
    @extend .restricted-container
    &:after
      display: none

    h2
      +font-size(14)
      font-weight: normal
      color: $lighter-grey
      opacity: 0.64
      text-transform: uppercase
      +margin(0,0,0,0)
      +margin-bottom(32)
    a
      color: $lighter-grey
      &:hover
        color: $red 

  .region-footer
    display: none
    +breakpoint($medium)
      display: block
    .block-menu
      +gallery(3 of 12)
      ul.menu
        list-style: none
        +padding(0,0,0,0)
        +margin(0,0,0,0)
        li
          +padding(0,0,0,0)
          +margin-bottom(10)
          &:last-child
            +margin-bottom(0)

  .region-footer-info


    #block-legalList
      display: block
      +margin(0,0,0,0)
      text-align: center
      +margin-top(11)
      li
        display: inline-block
        +margin-right(11)
        position: relative
        +padding(0,0,0,0)
				
        &:after
          content: '-'
          position: absolute
          +right(-10)
          +top(2)
          color: $lighter-grey
        &:last-child
          +margin-right(0)
          &:after
            content: ''
        a
          +font-size(12)
          text-decoration: underline

#block-legal, #block-legalList
  display: none!important
