footer.site-footer
  background-color: $dark-blue
  .footer-wrapper
    padding: 4rem 0
    @extend .restricted-container

    h2
      font-size: 0.875rem
      font-weight: normal
      color: $lighter-grey
      opacity: 0.64
      text-transform: uppercase
      margin: 0
      margin-bottom: 2rem
    a
      color: $lighter-grey
      &:hover
        color: $red 

  .region-footer
    display: none
    +breakpoint($medium-large)
      display: block
    .block-menu
      +gallery(3 of 12)
      ul.menu
        list-style: none
        padding: 0
        margin: 0
        li
          padding: 0
          margin-bottom: 0.625rem
          &:last-child
            margin-bottom: 0

  .region-footer-info
    +span(12 of 12)
    +breakpoint($medium-large)
      +span(3 of 12 last)


    #block-legalList
      display: block
      margin: 0
      text-align: center
      margin-top: 0.688rem 
      li
        display: inline-block
        margin-right: 0.688rem
        position: relative
        padding: 0
				
        &:after
          content: '-'
          position: absolute
          right: -0.625rem
          top: 0.125rem
          color: $lighter-grey
        &:last-child
          margin-right: 0
          &:after
            content: ''
        a
          font-size: 0.750rem
          text-decoration: underline

#block-legal, #block-legalList
  display: none!important
