.layout-container > header
  padding: rem-calc(14) 0
  +breakpoint(0 $medium)
    padding: 0
  +breakpoint($monster)
    padding: vw-calc(14) 0
  .menu-slide-action
    cursor: pointer
    float: right
    margin: rem-calc(10) 0
    +breakpoint($monster)
      margin: vw-calc(10) 0
    z-index: 8
    position: relative
    width: rem-calc(50)!important
    height: rem-calc(50)!important
    #menu-svg
      width: rem-calc(50)!important
      height: rem-calc(50)!important
      position: absolute
    svg
      width: rem-calc(50)!important
      height: rem-calc(50)!important
      position: absolute
      top: rem-calc(-10)
      +breakpoint($monster)
        width: vw-calc(44)!important
        height: vw-calc(44)!important
        top: vw-calc(-9)
      path, a, g
        fill: $dark-blue
        transition: fill 2s ease
    .is-visible
      svg
        path, a, g
          fill: $white

      
  #block-da-vinci-branding
    float: left
    margin: rem-calc(14) 0 rem-calc(10) 0
    margin-right: rem-calc(69)
    position: relative
    z-index: 999
    +breakpoint($monster)
      margin: vw-calc(14) 0 vw-calc(10) 0
      margin-right: vw-calc(69)
      margin-left: 40px
      transform: scale(1.5)
    a
      position: relative
      z-index: 98
  nav
    ul
      margin: 0
      padding: 0
      li
        display: none
        +breakpoint($large)
          display: inline-block
        margin: rem-calc(15) 0 rem-calc(14) 0
        margin-right: rem-calc(32)
        padding: 0
        +breakpoint($monster)
          margin: vw-calc(15) 0 vw-calc(14) 0
          margin-right: vw-calc(32)
        +breakpoint($small)
          &:last-child
            display: inline-block
            margin: 0
            margin-right: rem-calc(34)
            +breakpoint(0 $medium)
              margin-top: rem-calc(10)
            left: rem-calc(-40)
            float: right
            border-radius: rem-calc(4)
            border: solid rem-calc(1) $red
            transition: border-color 2s ease
            color: $red
            position: relative
            z-index: 8
            a
              font-family: $font-title
              padding: rem-calc(14) rem-calc(33) 
              +breakpoint(0 $medium)
                padding: rem-calc(7) rem-calc(33) 
              display: block
              color: $red
              transition: color 2s ease
        &.is-visible 
          border-color: $white
          a
            color: $white
        a
          color: $dark-blue
          font-size: rem-calc(16)
          +breakpoint($monster)
            font-size: vw-calc(16)
          text-transform: uppercase
.first-level
  .layout-container > header
    position: absolute
    width: 100%
    z-index: 98
    svg path, a, svg g
      color: $white
      stroke: $white
      fill: $white
