.region-primary-menu
  .menu
    margin: 0
    text-align: center
    border-bottom: rem-calc(1) solid lighten($color, 80%)
    border-bottom: vw-calc(1) solid lighten($color, 80%)
    padding-bottom: rem-calc(16)
    padding-bottom: vw-calc(16)
    margin-bottom: rem-calc(16)
    margin-bottom: vw-calc(16)
    &-item
      display: inline-block
      a
        display: block
        margin-right: rem-calc(8)
        margin-right: vw-calc(8)
        padding-right: rem-calc(8)
        padding-right: vw-calc(8)
        border-right: rem-calc(1) solid $border
        border-right: vw-calc(1) solid $border
        text-transform: uppercase
        color: $color
        &:hover,
        &.is-active
          color: $secondary-color
          &:hover
            color: $secondary-color
        &.is-active
          cursor: default
          font-weight: 600
      &:last-child a
        border-right: 0
