#breadcrumbs
  margin: .5em 0
  font-size: small
  .breadcrumb
    > a:first-child
      @extend .hide-modern
      //Back home icon
      //background: image-url('close-on.png') 0 0 no-repeat
      width: 14px
      height: 11px
      display: block
      float: left
  .breadcrumb_next
    opacity: 0.5