// Go to the top of page
.backtotop
  a
    background: $green
    +border-radius(8px)
    padding: 1em
    display: block
    position: fixed
    right: -8em
    bottom: 1em
    color: $white
    +transition(right 1s ease-in-out 0)
    &:hover
      background: $dark-green
  &.active
    a
      right: 1em
      +transition(right 1s ease-in-out 0)
