// Comments Count
.comments-count
  //background: image-url('comments.png') 0 center no-repeat
  padding-left: 28px
  color: $dark-turquoise
  font-size: 12px

// Add new comment button
.new-comment
  margin-bottom: 10px
  clear: both
  a
    @extend .button
    &:hover
      color: $white

// Button for back home
.back-home
  //background: $lightest-green image-url('taza.png') 10px center no-repeat
  color: $green
  display: block
  margin-right: 10%
  max-width: 170px
  padding: 4px
  padding-left: 50px
  &:hover
    //background: $lightest-green image-url('taza-hover.png') 10px center no-repeat
    color: $light-green
    text-decoration: none
  +breakpoint(max-width $tablet)
    background-size: 50%
    font-size: 0
    height: 40px
    margin-right: 10px
    width: 40px
    padding: 0


// Not logged and new article -> title width 100%
.page-node-add
  .hx
    width: 100%
    margin: 0
    float: none

// For new comments
.new
  float: right
  background: $dark-turquoise
  opacity: 0.8
  color: $white
  +border-radius(2px)
  padding: 0px 5px
  margin-left: 10px

// User Picture
.user-picture
  img
    +border-radius(25px)

// Service Links
.service-links
  float: right
  .service-label
    font-size: 15px
    color: $green
  ul
    li
      display: inline-block
      margin-right: 10px
      cursor: pointer
      &:hover
        img
          height: 38px
          width: 39px
        &.service-links-twitter a
          //content: image-url('twitter-hover.png')
        &.service-links-facebook a
          //content: image-url('facebook-hover.png')
        &.service-links-google-plus a
          //content: image-url('google_plus-hover.png')

// Principal Claim
.blog-claim
  max-width: 155px
  margin-bottom: 17px
  img
    margin-left: 5px
  .claim
    color: $dark-turquoise
    font-size: 15px
    font-weight: 300
    margin-left: 8px


//PCP
#block-pcp-pcp-profile-percent-complete
  h2
    margin-bottom: 0
    font-size: 15px
    color: $dark-beige
  .pcp-percent-bar
    background-color: $light-green
