fieldset .fieldset-legend
  margin-top: 0.5em
  padding-left: 1em
  position: absolute
  text-transform: uppercase

html.js fieldset.collapsed
  border-width: 1px
  height: auto

fieldset.collapsible .fieldset-legend
  display: block
