
html.js input.form-autocomplete
  //background-image: image-url("throbber_3.gif")
  background-position: 100% 8px
html.js input.throbbing
  background-position: 100% -17px
  //background-image: image-url("throbber_3.gif")

//Overwrite the Drupal modules/field/theme/field.css
form .field-multiple-table
  margin: 0
form .field-multiple-table th.field-label
  //No side-padding for labels as there are no borders
  padding-left: 0
  padding-right: 0
form .field-multiple-table td.field-multiple-drag
  width: 30px
  padding-right: 0
form .field-multiple-table td.field-multiple-drag a.tabledrag-handle
  padding-right: .5em
form .field-add-more-submit
  margin: .5em 0 0
//END: Overwrite the Drupal modules/field/theme/field.css

//Hierarchical Select style corrections
tr.odd .form-item.shs-wrapper-processed,
tr.even .form-item.shs-wrapper-processed
  white-space: normal
  .shs-select
    margin-right: 1em
    margin-bottom: 1em

//Overwrite file.css styles for file/image upload
.form-managed-file .form-file,
.form-managed-file .form-submit
  display: inline-block
  margin: 0 1em 0 0

.confirmation
  #edit-cancel
    @extend .button
    float: right
    font-weight: bold
    font-size: 15px
    &:hover
      background: $light-green
  #edit-submit
    +no-icon(10px)

// Loading Icon
.loading-layer
  .form-actions
    &:before
      content: ""
      //background: image-url('home/misc/progress.gif') 0 0 no-repeat
      width: 16px
      height: 16px
      display: inline-block
      position: relative
      top: 2px
    .form-submit
      opacity: 0.2
      cursor: default
      &:hover
        background: $light-green
        cursor: default

#user-login-form
  .item-list
    li
      margin: 0