// General styles
.modal-content
  width: 30em
  padding: 2em
  background-color: $white
  border-radius: 10px
  position: absolute
  left: -99999px
  p
    color: $black
    font-size: 16px
  .close
    background: image-url('home/misc/little-close.png') 0 0 no-repeat 
    display: block
    width: 16px
    height: 16px
    position: absolute
    top: 15px
    right: 20px
    font-size: 0
    line-height: 0
    color: transparent
    &:active, &:focus
      outline: none

  // Specific Styles
  // Form-contact modal
  &.form-contact
    padding: 2em 2em 1.5em 2em
    width: 35em
    background-color: $gray
    // Mail
    .form-item-mail
      margin-bottom: 15px
    p
      margin: 0
    // Spam info
    ul
      +hide-bullets
      margin-top: 10px
      li
        line-height: 1.3em
        &:before
          content: "-"
          position: relative
          left: -4px
          padding-left: 5px
    input
      border: none
      padding: 10px
      width: 100%
      box-sizing: border-box
      margin: 5px 0 20px 0
    label
      font-size: 25px
      margin-bottom: 5px
      color: $green
      width: 100%
      span
        &:first-child
          font-size: 12px
    .contact-form
      margin: 0 auto
      color: $dark-beige
      .form-errors
        margin: 10px 0
        color: $white
        text-align: center
      .form-actions
        margin-top: 20px
        text-align: right
        .form-submit
          margin-left: 10px
          background-color: $green
          padding: 10px 15px
          color: $white
          border: none
          +box-shadow(2px 2px 0 $black)
          +border-radius(5px)
          text-transform: uppercase
          font-weight: bold
          width: auto
          margin: 0
          cursor: pointer

    .close
      background: image-url('home/misc/white-close.png') 0 0 no-repeat
      display: block
      width: 16px
      height: 16px
      position: absolute
      top: 15px
      right: 20px
      font-size: 0
      line-height: 0
      color: transparent

// Section solution modal
#solutions,
#soluciones
  // Solutions
  .solutions.container
    .modal-content
      span
        font-size: 22px
        font-weight: bold
        color: $dark-beige
        display: block
        margin-top: 0
        margin-bottom: 13px
        line-height: 1em
      ul
        +hide_bullets()
        display: block
        float: left
        li
          position: relative
          font-size: 14px
          padding-left: 10px
          line-height: 1.4em
          color: $green
          &:after
            content: "-"
            position: absolute
            left: 0
            top: 0
            display: block
      .modal-img
        width: 50%
        float: left
        img
          display: block
          width: 13em
          margin: 0 auto
      .oriented-solutions,
      .features-solutions
        +clearfix()
        width: 100%
        padding: 0 20px
        display: block
        float: left
      .oriented-solutions
        padding: 20px 20px 10px 20px
        ul
          width: 50%
      .show-form
        clear: both
        text-align: right
        padding-top: 20px
        a
          display: inline-block
          background-color: $green
          padding: 10px 20px
          color: $white
          text-decoration: none
          +border-radius(6px)
          margin-top: 15px
          text-transform: uppercase
          font-weight: bold
          +box-shadow(2px 2px 0 $black)
  // Marcas
  .marcas-container
    .modal-content
      width: 70%
