.item-list
  .pager
    li
      padding: 0
      &.pager-current
        color: $black
      &.pager-first,
      &.pager-last
        a
          +transition(all 0.2s ease-in-out)
          padding: 5px 10px
          background-color: $green
          color: $white
          +border-radius(5px)
          &:hover
            background-color: $dark-green