.tabs.primary,
.nav-tabs.nav
  border-bottom: 1px solid $beige
  li
    display: inline-block
    margin-bottom: 0
    a
      +border-radius(4px 4px 0 0)
      background-color: $light-beige
      border: none
      color: $green
      display: block
      font-size: .8em
      margin-bottom: -1px
      padding: .5em 1em
      text-transform: uppercase
      &:hover
        background: $beige
        color: $gray
  li.active
    a
      background: $green
      border: 1px solid $beige
      color: $white
      &:hover
        background: $dark-green
