/// Styles for buttons.
.button
  outline: none
  display: inline-block
  text-align: center
  background-color: $secondary-color
  color: $white
  text-transform: uppercase
  transition: all .5s
  font-family: $font-title
  font-weight: 400
  line-height: vmin-calc(40)
  border-radius: vmin-calc(3)
  +padding(0, 24, 0, 24)
  +font-size(10)
  +border(1, solid, transparent)
  &:hover
    cursor: pointer
    text-decoration: none
    border-color: $secondary-color
    background-color: $white
    color: $secondary-color
  &:focus
    outline: none
.image-button
  background-color: transparent
  +padding(3, 8, 3, 8)

.form-submit
  @extend .button
  background-color: $red
  +font-size(16)
button
  &:focus
    outline: none