.messages
  margin-top: 1em
  background-color: $white
  border-radius: 0
  border-width: 0.063rem 0.063rem 0.063rem 0.313rem
  box-shadow: none
  &--status
    border-color: $success
    color: $success
  &--warning
    border-color: $warning
    color: $warning
  &--error
    border-color: $error
    color: $error
