table
  border: none
  th
    background-color: transparent
    color: $dark-blue
    font-weight: 700
    padding: 0.65rem
    font-size: 1rem
    text-align: left
    vertical-align: top
  td
    padding: 0.65rem

  //no margins for lists and paragraphs inside table cells.
  th,
  td
    p,
    ul
      margin: 0
      padding: 0
