#block-da-vinci-local-tasks
	position: fixed
	z-index: 9999
	width: 100%
	background: white
	padding: 20px
	top: 160px
.tabs
  a
    color: $color
    text-transform: uppercase
    font-size: 0.65rem
    &:focus,
    &:hover
      background-color: transparent
  &.primary
    border-bottom: 0.063rem solid $color
    > li
      border: 0.063rem solid $color
      border-bottom: 0
      > a
        padding: 0.4rem 1.5rem
        transition: all 1s ease
        &:hover,
        &.is-active
          background-color: $color
          color: $white
  &.secondary
    > li
      margin: 0
      &:first-child a
        padding-left: 0
        border-left: 0
      &:last-child a
        padding-right: 0
      a
        border-left: 0.063rem solid $secondary-color
        &:hover,
        &.is-active
          background-color: transparent
          color: $secondary-color
// Vertical tabs
.vertical-tabs
  &__menu-item
    background: $main-color
    a
      color: $white
    &.is-selected
      .vertical-tabs__menu-item-title
        color: $color
