[class^="sprite-"],
[class*=" sprite-"] {
  background: image-url('home/spritesheet.png') no-repeat;
  display: inline-block;
}

.sprite-ico-bajar {
  width: 41px;
  height: 20px;
  background-position: -30px -30px;
}

.sprite-ico-clientes-comillas-azul {
  width: 35px;
  height: 26px;
  background-position: -30px -110px;
}

.sprite-ico-clientes-comillas-blancas {
  width: 29px;
  height: 22px;
  background-position: -30px -196px;
}

.sprite-ico-clientes-der {
  width: 16px;
  height: 73px;
  background-position: -30px -278px;
}

.sprite-ico-clientes-izq {
  width: 16px;
  height: 73px;
  background-position: -30px -411px;
}

.sprite-ico-contacto-twitter {
  width: 32px;
  height: 66px;
  background-position: -30px -544px;
}

.sprite-ico-servicios-consultoria {
  width: 101px;
  height: 246px;
  background-position: -30px -670px;
}

.sprite-ico-servicios-estadisticas {
  width: 62px;
  height: 211px;
  background-position: -30px -976px;
}

.sprite-ico-servicios-integracion {
  width: 73px;
  height: 211px;
  background-position: -30px -1247px;
}

.sprite-ico-servicios-mantenimiento {
  width: 66px;
  height: 210px;
  background-position: -30px -1518px;
}

.sprite-ico-servicios-migraciones {
  width: 113px;
  height: 240px;
  background-position: -30px -1788px;
}

.sprite-ico-servicios-pantallas {
  width: 124px;
  height: 200px;
  background-position: -30px -2088px;
}

.sprite-ico-servicios-ux-ui {
  width: 108px;
  height: 200px;
  background-position: -30px -2348px;
}

.sprite-img_drupal_base_soluciones {
  width: 250px;
  height: 227px;
  background-position: -30px -2608px;
}

.sprite-img_drupal_enssembly_soluciones {
  width: 228px;
  height: 240px;
  background-position: -30px -2895px;
}

.sprite-logo_blog_menu {
  width: 40px;
  height: 43px;
  background-position: -30px -3195px;
}

.sprite-logo_drupalera_home_v2 {
  width: 406px;
  height: 81px;
  background-position: -30px -3298px;
}

.sprite-logo_drupalera_menu {
  width: 192px;
  height: 38px;
  background-position: -30px -3439px;
}

.sprite-sombra-boton {
  width: 49px;
  height: 20px;
  background-position: -30px -3537px;
}

.sprite-sombra-boton-peque_o {
  width: 37px;
  height: 15px;
  background-position: -30px -3617px;
}
