{#
/**
 * @file
 * Template for a custom layout: 3 columns and 9 columns in a 12 column susy framework
 */
#}
<div class="dv-left-col dv-pane">
  <div class="content">
    {{ content.content }}
  </div>
  <div class="left-sidebar">
    {content.left }}
  </div>
  <div class="footer">
    {{ content.footer }}
  </div>
</div>
